{% extends 'admin/dashboard/main.twig' %}

{% block title %}Plot Manager{% endblock %}

{% block contentHeader %}
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="{{ path_for('admin.index') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
      <a href="{{ path_for('admin.participant.dashboard') }}">Participants</a> 
      <a href="{{ path_for('admin.character.list') }}">Plots</a> 
      <a href="#" class="current"># {{current.data.name|default('New Plot')}}</a> 
    </div>

    <h1>Edit {{current.data.name|default('New Plot')}}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span8">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Edit Plot</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="{{ current.new ? path_for('admin.plot.add') : path_for('admin.plot.edit', { 'uid': current.data.id }) }}" method="post" autocomplete="off" class="form-horizontal">
            <input type="hidden" name="selfsave">
            {{ csrf.field | raw }}
            
            <div class="control-group">
              <label class="control-label">Name :</label>
              <div class="controls">
                <input type="text" class="span11" name="name" placeholder="Name" value="{{ current.data.name }}">
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Synopsis :</label>
              <div class="controls">
                <textarea class="span11" name="synopsis" rows="5">{{ current.attr.synopsis }}</textarea>
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Public :</label>
              <div class="controls">
                <input type="checkbox" class="span11" name="public" {% if current.attr.public %}checked{% endif %} value="1">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Submitted for review :</label>
              <div class="controls">
                <input type="checkbox" class="span11" name="submitted_for_review" {% if current.attr.submitted_for_review %}checked{% endif %} >
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Reviewed :</label>
              <div class="controls">
                <input type="checkbox" class="span11" name="reviewed" {% if current.attr.reviewed %}checked{% endif %}>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Description :</label>
              <div class="controls">
                <textarea class="span11" name="description" rows="10">{{ current.data.description }}</textarea>
             </div>
            </div>
            
            
            <div class="widget-box collapsible">
              <div class="widget-title"> 
                <a href="#collapseBulk" data-toggle="collapse"> 
                  <span class="icon"><i class="icon-user"></i></span>
                  <h5>Bulk Assign</h5>
                </a> 
              </div>
              <div class="collapse" id="collapseBulk">
                <div class="widget-content character_filters">
                  <div class="control-group">
                    <div class="character_filter controls">
                      <select name="filter" class="span3 special">
                      {% for item in character_filters %}
                        <option>{{ item }}</option>
                      {% endfor %}
                      </select>
                      <select name="comparison" class="span3 special">
                      {% for item in filter_comparison %}
                        <option>{{ item }}</option>
                      {% endfor %}
                      </select>
                      &nbsp;
                      <input type="text" class="span3" name="filter_value" placeholder="value">
                      <button class="btn btn-success add_filter span1 pull-right">+</i></button>                  
                    </div>
                  </div>
                </div>
              
                <div class="control-group">
                  <div class="controls">              
                    <button class="btn btn-success filter_characters span11 pull-right"><i class="icon-search"></i></button>
                  </div>
                </div>
              </div>
            </div> 
            
            <div class="control-group">
              <label class="control-label">Characters :</label>
              <div class="controls">
                <select name="character_ids[]" multiple="true">
                {% for item in characters %}
                  <option value="{{ item.id }}"{% for item_col in current.data.characters %}{% if item.id == item_col.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ item.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Groups :</label>
              <div class="controls">
                <select name="group_ids[]" multiple="true">
                {% for item in groups %}
                  <option value="{{ item.id }}"{% for item_col in current.data.groups %}{% if item.id == item_col.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ item.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Parent plots :</label>
              <div class="controls">
                <select name="plot_ids[]" multiple="true">
                {% for item in plots %}
                  <option value="{{ item.id }}"{% for item_col in current.data.plots %}{% if item.id == item_col.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ item.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>           
            
            {{ include('/admin/partials/fragments/attributes.html') }}
  
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inlinejs %}
  $(".attributes").on("click", ".add_attrib", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().clone();
    $addDiv.find('input').each(function () { $(this).val(null); })
    $(this).parent().after($addDiv);
    $(this).parent().find('button')
      .removeClass('btn-success add_attrib').addClass('btn-warning remove_attrib').text('-');
  });

  $(".attributes").on("click", ".remove_attrib", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().remove();
  });

  $(".character_filters").on("click", ".add_filter", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().clone();
    $addDiv.find('input, select').each(function () { $(this).val(null); })
    $(this).parent().after($addDiv);
    $(this).parent().find('button')
      .removeClass('btn-success add_filter').addClass('btn-warning remove_filter').text('-');
  });

  $(".character_filters").on("click", ".remove_filter", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().remove();
  });

  $(".filter_characters").on("click", function (e) {
    e.preventDefault();
    var filter = {};

    $(".character_filter").each(function () {
      filter[$(this).find("[name=filter]").val()] = $(this).find("[name=comparison]").val() + ":" + $(this).find("[name=filter_value]").val();
    });

    $.getJSON("/admin/api/v1/characters/search", filter).done(function (r) { 
      $('[name="character_ids[]"]').val(r.characters.map(c => c.id)).trigger('change');
    });
  });
{% endblock %}