{% extends 'admin/dashboard/main.twig' %}

{% block title %}Group Manager{% endblock %}

{% block contentHeader %}
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="{{ path_for('admin.index') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
      <a href="{{ path_for('admin.participant.dashboard') }}">Participants</a> 
      <a href="{{ path_for('admin.group.list') }}">Groups</a> 
      <a href="#" class="current"># {{current.data.name|default('New Group')}}</a> 
    </div>

    <h1>Edit {{current.data.name|default('New Group')}}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span8">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Edit Group</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="{{ current.new ? path_for('admin.group.add') : path_for('admin.group.edit', { 'uid': current.data.id }) }}" method="post" autocomplete="on" class="form-horizontal">
            <input type="hidden" name="selfsave">
            {{ csrf.field | raw }}
            
            <div class="control-group">
              <label class="control-label">Name :</label>
              <div class="controls">
                <input type="text" class="span11" name="name" placeholder="Name" value="{{ current.data.name }}">
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Synopsis :</label>
              <div class="controls">
                <textarea class="span11" name="synopsis" rows="5">{{ current.attr.synopsis }}</textarea>
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Description :</label>
              <div class="controls">
                <textarea class="span11" name="description" rows="10">{{ current.data.description }}</textarea>
             </div>
            </div>

            <div class="control-group">
              <label class="control-label">Characters :</label>
              <div class="controls">
                <select name="character_ids[]" multiple="true">
                {% for item in characters %}
                  <option value="{{ item.id }}"{% for item_col in current.data.characters %}{% if item.id == item_col.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ item.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Users :</label>
              <div class="controls">
                <select name="user_ids[]" multiple="true">
                {% for item in users %}
                  <option value="{{ item.id }}"{% for item_col in current.data.users %}{% if item.id == item_col.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ item.displayname }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Group Plots :</label>
              <div class="controls">
                <select name="plot_ids[]" multiple="true">
                {% for item in plots %}
                  <option value="{{ item.id }}"{% for item_col in current.data.plots %}{% if item.id == item_col.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ item.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Parent groups :</label>
              <div class="controls">
                <select name="group_ids[]" multiple="true">
                {% for item in groups %}
                  <option value="{{ item.id }}"{% for item_col in current.data.groups %}{% if item.id == item_col.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ item.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>            
            
            
            <div class="widget-box" style="margin: .5em;">
              <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Current Relationships</h5>
              </div>              
              <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Characters</th>
                      <th>Groups</th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for relationship in current.data.rel %}
                    <tr class="odd gradeA">
                      <td class="center"><i class="{{ relationship.attr|key('relationship_icon') }}"></i></td>
                      <td><a href="{{ path_for('admin.relation.edit', { 'uid': relationship.id }) }}" title="Edit Relationship">{{ relationship.name }}</a></td>
                      <td>
                        {% for character in relationship.characters %}
                        <a href="{{ path_for('admin.character.edit', { 'uid': character.id }) }}" title="Edit Character">{{ character.name }}</a>{% if loop.last %}{% else %}, {% endif %}
                        {% endfor %}
                      </td>
                      <td>
                        {% for group in relation.groups %}
                        <a href="{{ path_for('admin.group.edit', { 'uid': group.id }) }}" title="Edit Group">{{ group.name }}</a>{% if loop.last %}{% else %}, {% endif %}
                        {% endfor %}
                      </td>                  
                      <td>{{ relationship.attr|key('relationship_type') }}</td>
                    </tr>
                    {% endfor %}
                </table>
              </div>
              <div class="control-group">
                <a href="{{ path_for('admin.relation.add') }}" class="btn span20 btn-success">Create new Relation</a>
              </div>
            </div>                

            <div class="control-group">
              <label class="control-label">Group Relations :</label>
              <div class="controls relationships">            
                <select name="relations_ids[]" multiple="true">
                {% for item in relations %}
                  <option value="{{ item.id }}"{% for item_col in current.data.relations %}{% if item.id == item_col.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ item.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="widget-box collapsible">
              <div class="widget-title"> 
                <a href="#collapseNotes" data-toggle="collapse"> 
                  <span class="icon"><i class="icon-tags"></i></span>
                  <h5>Attributes</h5>
                </a> 
              </div>
              <div class="collapse" id="collapseNotes">
                <div class="widget-content attributes"> 
                  {% for attribute in current.data.attr %}
                  {% if attribute.name and (attribute.name not in set_attr) %}
                  <div class="attribute">
                    <input type="text" class="span6" name="attrKey[]" placeholder="Name" value="{{ attribute.name }}">
                    <input type="text" class="span5" name="attrVal[]" placeholder="Value" value="{{ attribute.value }}">
                    <button class="btn btn-warning remove_attrib span1 pull-right">-</button>
                  </div>
                  {% endif %}
                  {% endfor %}
                  <div class="attribute">
                    <input type="text" class="span6" name="attrKey[]" placeholder="Name" value="">
                    <input type="text" class="span5" name="attrVal[]" placeholder="Value" value="">
                    <button class="btn btn-success add_attrib span1 pull-right">+</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inlinejs %}
  $(".attributes").on("click", ".add_attrib", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().clone();
    $addDiv.find('input').each(function () { $(this).val(null); })
    $(this).parent().after($addDiv);
    $(this).parent().find('button')
      .removeClass('btn-success add_attrib').addClass('btn-warning remove_attrib').text('-');
  });

  $(".attributes").on("click", ".remove_attrib", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().remove();
  });
{% endblock %}