{% extends 'admin/dashboard/main.twig' %}

{% block title %}User Manager{% endblock %}

{% block contentHeader %}
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="{{ path_for('admin.index') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
      <a href="{{ path_for('admin.users.all') }}">Users</a> 
      <a href="#" class="current">{{current.data.username|default('New User')}}</a> 
    </div>
    
    <h1>Edit {{current.data.username|default('New User')}}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Edit User</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="{{ current.new ? path_for('admin.user.add') : path_for('admin.user.edit', { 'uid': current.data.id }) }}" method="post" autocomplete="off" class="form-horizontal">
            {{ csrf.field | raw }}
            
            <div class="control-group">
              <label class="control-label">Participant portrait :</label>
              <div class="controls">
                <div id="preview" class="mb-20"><img src="/assets/{{ current.attr.portrait ? 'portraits/scaled/' ~ current.attr.portrait : 'images/logos/lotka-volterra-logo.svg'}}" class="{{current.attr.portrait ? '' : 'unloaded' }}"></div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Check In QR :</label>
              <div class="controls">
                <div id="preview" class="mb-20">
                  <img src="about:blank" height="300" width="300" onerror="uri=encodeURIComponent('{{ base_url() }}{{ path_for('admin.checkin', { 'hash': current.data.hash }) }}#active'), this.src=`//chart.apis.google.com/chart?cht=qr&chl=${uri}&chs=300x300`"/>
                </div>
              </div>
            </div>
            
            <h6 style="margin-left: 1.5em;">Game information</h6>
            <div class="control-group">
              <label class="control-label">NPC :</label>
              <div class="controls">
                <input type="checkbox" class="span11" name="npc" {% if current.attr.npc %}checked{% endif %}>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Assigned character :</label>
              <div class="controls">
                <select name="character_id">
                  <option value=""> - No Character Assigned - </option>
                {% for character in characters %}
                  <option value="{{ character.id }}" {% if character.id == current.data.character_id %}selected="selected"{% endif %}>
                    {{ character.name|default('Character ID: ' ~ character.id) }}
                  </option>
                {% endfor %}
                </select>
             </div>
            </div>          
            
            <div class="control-group">
              <label class="control-label">Checked in :</label>
              <div class="controls">
                <input type="checkbox" class="span11" name="checked_in" {% if current.attr.checked_in %}checked{% endif %}>
              </div>
            </div>

            
            <h6 style="margin-left: 1.5em;">Login and display information</h6>
            <div class="control-group">
              <label class="control-label">User Name :</label>
              <div class="controls">
                <input type="text" class="span11" name="username" placeholder="User name" value="{{ current.data.username }}">
              </div>
            </div>            
            <div class="control-group">
              <label class="control-label">Display Name :</label>
              <div class="controls">
                <input type="text" class="span11" name="displayname" placeholder="Display name" value="{{ current.data.displayname }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Password input :</label>
              <div class="controls">
                <input type="password" class="span11" name="password" placeholder="Enter Password" autocomplete="new-password">
              </div>
            </div>
            
            <h6 style="margin-left: 1.5em;">Participant information</h6>
            <div class="control-group">
              <label class="control-label">First Name :</label>
              <div class="controls">
                <input type="text" class="span11" name="first_name" placeholder="First name" value="{{ current.data.first_name }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Last Name :</label>
              <div class="controls">
                <input type="text" class="span11" name="last_name" placeholder="Last name" value="{{ current.data.last_name }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Gender :</label>
              <div class="controls">
                <select name="gender">
                {% for gender in genders %}
                  <option value="{{ gender }}" {% if gender == current.attr.gender %}selected="selected"{% endif %}>
                    {{ gender }}
                  </option>
                {% endfor %}    
                </select>
             </div>
            </div>
            <div class="control-group">
              <label class="control-label">ID Number (Swe) :</label>
              <div class="controls">
                <input type="text" class="span11" name="id_number_swe" placeholder="YYYYMMDDNNNN" value="{{ current.attr.id_number_swe }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Date Of Birth :</label>
              <div class="controls">
                <input type="text" class="span11" name="birth_date" placeholder="YYYYMMDD" value="{{ current.attr.birth_date }}">
              </div>
            </div>              
            <div class="control-group">
              <label class="control-label">Membership Fee (SEK) :</label>
              <div class="controls">
                <input type="text" class="span11" name="membership_fee" placeholder="50" value="{{ current.attr.membership_fee }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Membership Date :</label>
              <div class="controls">
                <input type="text" class="span11" name="membership_date" placeholder="20180101" value="{{ current.attr.membership_date }}">
              </div>
            </div>
            
            <h6 style="margin-left: 1.5em;">Address</h6>
            <div class="control-group">
              <label class="control-label">C/O : </label>
              <div class="controls">
                <input type="text" class="span11" name="care_of" placeholder="c/o" value="{{ current.attr.care_of }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Street Address : </label>
              <div class="controls">
                <input type="text" class="span11" name="street_address_1" placeholder="Line one" value="{{ current.attr.street_address_1 }}">
                <input type="text" class="span11" name="street_address_2" placeholder="Line two" value="{{ current.attr.street_address_2 }}" style="margin-top: .5em;">                
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Postal code : </label>
              <div class="controls">
                <input type="text" class="span11" name="postal_code" placeholder="Postal code" value="{{ current.attr.postal_code }}">
              </div>
            </div>            
            <div class="control-group">
              <label class="control-label">City/Suburb : </label>
              <div class="controls">
                <input type="text" class="span11" name="city" placeholder="City/Suburb" value="{{ current.attr.city }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">State/Region : </label>
              <div class="controls">
                <input type="text" class="span11" name="state" placeholder="State/Region" value="{{ current.attr.state }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Country : </label>
              <div class="controls">
                <input type="text" class="span11" name="country" placeholder="Country" value="{{ current.attr.country }}">
              </div>
            </div>
            
            <h6 style="margin-left: 1.5em;">Contact information</h6>
            <div class="control-group">
              <label class="control-label">E-mail :</label>
              <div class="controls">
                <input type="text" class="span11" name="email" placeholder="E-mail" value="{{ current.data.email }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Phone number :</label>
              <div class="controls">
                <input type="text" class="span11" name="phone" placeholder="+## ######" value="{{ current.attr.phone }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Emergency contact :</label>
              <div class="controls">
                <input type="text" class="span11" name="emergency_contact" placeholder="Contact name" value="{{ current.attr.emergency_contact }}">
              </div>
            </div>            
            <div class="control-group">
              <label class="control-label">Emergency phone :</label>
              <div class="controls">
                <input type="text" class="span11" name="emergency_phone" placeholder="+## ######" value="{{ current.attr.emergency_phone }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Allergies :</label>
              <div class="controls">
                <textarea class="span11" name="allergies" rows="5">{{ current.attr.allergies }}</textarea>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Medical Conditions :</label>
              <div class="controls">
                <textarea class="span11" name="medical_conditions" rows="5">{{ current.attr.medical_conditions }}</textarea>
              </div>
            </div>            
            
            <h6 style="margin-left: 1.5em;">Site information</h6>
            <div class="control-group">
              <label class="control-label">User role :</label>
              <div class="controls">
                <select name="role"{{current.new ? ' disabled' : '' }}>
                {% for role in auth.getRoles %}
                  <option value="{{ role.slug }}" {% if role.slug == current.role %}selected="selected"{% endif %}>
                    {{ role.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">User Groups :</label>
              <div class="controls">
                <select name="group_ids[]" multiple="true">
                {% for group in groups %}
                  <option value="{{ group.id }}"{% for user_group in current.data.groups %}{% if group.id == user_group.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ group.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <h6 style="margin-left: 1.5em;">Additional information</h6>
            <div class="control-group">
              <label class="control-label">Completed Onboarding :</label>
              <div class="controls">
                <input type="checkbox" class="span11" name="onboarding_complete" {% if current.attr.onboarding_complete %}checked{% endif %}>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Last login :</label>
              <div class="controls">
                <input type="text" class="span11" disabled value="{{ current.data.last_login }}">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">User hash :</label>
              <div class="controls">
                <input type="text" class="span11" disabled value="{{ current.data.hash }}">
              </div>
            </div>
                        
            <div class="control-group">
              <label class="control-label">Organizers Notes :</label>
              <div class="controls">
                <textarea class="span11" name="org_notes" rows="5">{{ current.data.org_notes }}</textarea>
              </div>
            </div>
            
            {{ include('/admin/partials/fragments/attributes.html') }}
            
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inlinejs %}
  $(".attributes").on("click", ".add_attrib", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().clone();
    $addDiv.find('input').each(function () { $(this).val(null); })
    $(this).parent().after($addDiv);
    $(this).parent().find('button')
      .removeClass('btn-success add_attrib').addClass('btn-warning remove_attrib').text('-');
  });

  $(".attributes").on("click", ".remove_attrib", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().remove();
  });  
{% endblock %}