{% extends 'admin/dashboard/main.twig' %}

{% block title %}User Manager{% endblock %}

{% block contentHeader %}
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="{{ path_for('admin.index') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
      <a href="#" class="current">Users</a> 
    </div>
    
    <h1>Users</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>All users : <a href="{{ path_for('admin.users.export') }}">Export as CSV</a></h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Role</th>
                  <th>Last Login</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              {% for user in listUsers %}
                <tr class="gradeA">
                  <td>{{ user.id }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ getUsersRole[loop.index0].slug }}</td>
                  <td>{{ user.last_login }}</td>
                  <td class="center">
                    <a href="{{ path_for('admin.user.edit', { 'uid': user.username }) }}" class="btn btn-default btn-xs" title="Edit User"><i class="icon-edit"></i></a>
                      <a href="{{ path_for('admin.user.delete', { 'uid': user.username }) }}" class="btn btn-danger btn-xs" title="Delete User"><i class="icon-remove"></i></a>
                    <a href="" class="btn btn-primary btn-xs" title="Kill Session"><i class="icon-signout"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}