<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png?v=wAOM058Mox">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png?v=wAOM058Mox">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicons/android-chrome-192x192.png?v=wAOM058Mox">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png?v=wAOM058Mox">
<link rel="manifest" href="/assets/images/favicons/manifest.json?v=wAOM058Mox">
<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg?v=wAOM058Mox" color="#666666">
<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico?v=wAOM058Mox">
<meta name="apple-mobile-web-app-title" content="Lotka-Volterra">
<meta name="application-name" content="Lotka-Volterra">
<meta name="msapplication-TileColor" content="#666666">
<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png?v=wAOM058Mox">
<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml?v=wAOM058Mox">
<meta name="theme-color" content="#666666">