              <div class="col-sm-8 col-sm-offset-2" id="about">

                <h4 class="font-alt mb-0">About</h4>
                <hr class="divider-w mt-10 mb-20">
                <div class="row multi-columns-row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="alt-features-item">
                      <div class="features-icon"><span class="icon-lightbulb"></span></div>
                      <h3 class="features-title font-alt">About</h3>
                      Lotka-Volterra is an international scifi larp set in a bleak near future where mankind is all but extinct, preyed upon by technologically superior alien threat, but nevertheless surviving against all odds. You will be playing one of the survivors of <i>Haven Colony</i>, doing a several months long duty shift at the semi-military outpost of <i>Thermopylae</i>.
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="alt-features-item">
                      <div class="features-icon"><span class="icon-tools-2"></span></div>
                      <h3 class="features-title font-alt">Producers</h3>
                      Lotka-Volterra is produced by <b><a href="http://beratta.org/" target="_blank">Berättelsefrämjandet</a></b> & <b>Ariadnes Red Thread</b>. By signing up for Lotka-Volterra you also become a member of Berättelsefrämjandet. This is great, because it makes you covered by a couple of pretty great insurance policies should anything happen.
                    </div>
                  </div>
                </div>

                <h4 class="font-alt mt-40 mb-0">Practical Breakdown</h4>
                <hr class="divider-w mt-10 mb-20">
                <div class="row multi-columns-row mb-70">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="alt-features-item">
                      <div class="alt-features-icon"><span class="icon-map-pin"></span></div>
                      <h3 class="alt-features-title font-alt">Where</h3>
                      Lurbo, just outside Uppsala, Sweden (30 min drive from Arlanda Airport)
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="alt-features-item">
                      <div class="alt-features-icon"><span class="icon-calendar"></span></div>
                      <h3 class="alt-features-title font-alt">When</h3>
                      <b>5th to 8th</b> of April 2018
                    </div>
                  </div>
                </div>
                <div class="row multi-columns-row mb-70">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="alt-features-item">
                      <div class="alt-features-icon"><span class="icon-profile-male"></span></div>
                      <h3 class="alt-features-title font-alt">Participants</h3>
                      Currently {{playerCount|default(125)}}, Maximum 300.
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="alt-features-item">
                      <div class="alt-features-icon"><span class="icon-wallet"></span></div>
                      <h3 class="alt-features-title font-alt">Cost</h3>
                      3600 SEK - Supporter ticket<br>
                      2600 SEK - Standard ticket<br>
                      1700 SEK - Subsidized tickets<br>
                      <sup>(limited availability, available on request)</sup>
                    </div>
                  </div>
                </div>

                <div class="row multi-columns-row mb-70">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="alt-features-item">
                      <div class="alt-features-icon"><span class="icon-chat"></span></div>
                      <h3 class="alt-features-title font-alt">Language</h3>
                      Lotka-Volterra will be played in English.
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="alt-features-item">
                      <div class="alt-features-icon"><span class="icon-globe"></span></div>
                      <h3 class="alt-features-title font-alt">Transportation</h3>
                      We will most likely organize transportation from Stockholm Central via Arlanda Airport to the larp, and back again (this might or might not come with a nominal fee). More info and sign up for that will follow.
                    </div>
                  </div>
                </div>

                <h4 class="font-alt mt-40 mb-0">Learn More</h4>
                <hr class="divider-w mt-10 mb-20">

                <a href="{{ site.basePath }}story" class="btn btn-border-w btn-round btn-block" type="submit">THE STORY</a>

              </div>