    <script src="{{ site.basePath }}assets/lib/jquery/dist/jquery.js"></script>
    <script src="{{ site.basePath }}assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ site.basePath }}assets/lib/wow/dist/wow.js"></script>
    <script src="{{ site.basePath }}assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="{{ site.basePath }}assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="{{ site.basePath }}assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="{{ site.basePath }}assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="{{ site.basePath }}assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="{{ site.basePath }}assets/lib/smoothscroll.js"></script>
    <script src="{{ site.basePath }}assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="{{ site.basePath }}assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="{{ site.basePath }}assets/js/plugins.js"></script>
    <script src="{{ site.basePath }}assets/js/main.js"></script>
    <script src="{{ site.basePath }}assets/js/jquery.lazy.min.js"></script>
    <script src="{{ site.basePath }}assets/js/jquery.lazy.plugins.min.js"></script>
    <script src="{{ site.basePath }}assets/lib/jquery.growl/javascripts/jquery.growl.js" type="text/javascript"></script>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/script/glitch.js"></script>
    <script src="{{ site.basePath }}assets/js/theme/script.js"></script>