      <section class="home-section home-full-height bg-dark-30" id="home" data-background="{{ site.basePath }}img/surfops.jpg">
        <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=VjQ2t_yNHQs', containment:'.home-section', startAt:162, stopAt:202, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0, addRaster:true }"></div>
        <div class="video-controls-box">
          <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
          </div>
        </div>
        <div class="titan-caption splash">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1"><img src="{{ site.basePath }}assets/images/logos/lotka-volterra-logo-text.svg" alt="Lotka-Volterra" class="logo"></div>
            <div class="font-alt mb-30 titan-title-size-1">A scifi larp about survival against all odds</div>
            <div class="font-alt mb-40 titan-title-size-2"> <strong>5-8 April 2018</strong> 
            <div class="font-alt mb-40 titan-title-size-1"> Uppsala, Sweden</div>
            <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
          </div>
        </div>
      </section>