<ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
{% for key, section in dashboard.sections %}
  {% if section.pages %}
    {% for page_key, page in section.pages %}
  <li class="work-item {{ page_key }} {{ key }}">
    <a href="{{ page.target }}">
      {% if page.image %}
      <div class="work-image"><img src="{{ page.image }}" alt="{{ page.title }}"/></div>
      {% else %}
      <div class="work-image"><img src="/assets/images/logos/lotka-volterra-logo.svg" alt="{{ page.title }}"/></div>
      {% endif %}
      <div class="work-caption font-alt">
        <h3 class="work-title">{{ page.title}}</h3>
        {% if page.info %}
        <div class="work-descr">
          <h6>
            {{ page.info }}
          </h6>
        </div>
        {% endif %}
      </div>
      <hr class="divider-w mt-0 mb-10">
      <h5 class="font-alt  mt-0 mb-20">
        {{ page.title}}
      </h5>
    </a>
  </li>
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>
