<div class="col-sm-12">
  <ul class="filter font-alt" id="filters">
    <li><a class="current wow fadeInUp" href="#" data-filter="*"><span class="icon-key"></span> Dashboard</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".character" data-wow-delay="0.2s">Character</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".messages" data-wow-delay="0.4s">Messages</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".relationships" data-wow-delay="0.6s">Relationships</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".groups" data-wow-delay="0.8s">Groups</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".plots" data-wow-delay="1.0s">Plots</a></li>
  </ul>
</div>