<div class="col-sm-12">
  <ul class="filter font-alt" id="filters">
    <li><a class="current wow fadeInUp" href="#" data-filter="*"><span class="icon-key"></span> Dashboard</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">Illustration</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">Marketing</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".photography" data-wow-delay="0.6s">Photography</a></li>
    <li><a class="wow fadeInUp" href="#" data-filter=".webdesign" data-wow-delay="0.6s">Web Design</a></li>
  </ul>
</div>