<li>
    <a class="page-scroll" href="#about">About</a>
</li>
<li>
    <a class="page-scroll" href="#story">The Story</a>
</li>
<li>
    <a class="page-scroll" href="#experience">The experience</a>
</li>
<li>
    <a class="page-scroll" href="#characters">Characters</a>
</li>
<li>
    <a class="page-scroll" href="#esthetic">Aesthetics</a>
</li>
<li>
    <a class="page-scroll" href="#practical">Practical</a>
</li>
<li>
    <a class="page-scroll" href="#signup">Tickets</a>
</li>
<li>
    <a class="page-scroll" href="#contact">Organizers</a>
</li>
<li>
    <a class="" href="http://lotka-volterra.se/dev/" target="_blank">Dev-blog</a>
</li>
