{% extends 'admin/dashboard/main.twig' %}

{% block title %}Order Manager{% endblock %}

{% block contentHeader %}
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Orders</a> </div>
    
    <h1>Orders</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Ticket sales</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>E-mail</th>
                  <th>User</th>
                  <th>Ticket Type</th>
                  <th>Payed Amount</th>
                  <th>Order Via</th>
<!--
                  <th>Character Name</th>
                  <th>Team Preference</th>
                  <th>Shirt Size</th>
//-->
                  <th>Attested By</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for order in listOrdes %}
                <tr class="gradeA">
                  <td class="center">{{ loop.index }}</td>
                  <td>{{ order.email }}</td>
                  <td>{{ order.user_name }}</td>
                  <td>{{ order.type }}</td>
                  <td class="taskAmount">{{ order.amount/100|number_format }}SEK</td>
                  <td>{{ order.origin }}</td>
<!--                  
                  <td>{{ order.name }}</td>
                  <td>{{ order.preference }}</td>
                  <td>{{ order.size }}</td>
//-->
                  <td>{{ order.attester_name }}</td>
                  <td class="center">
                    <a href="{{ path_for('admin.order.edit', { 'uid': order.id }) }}" class="btn btn-default" title="Edit Order"><i class="icon-edit"></i></a>
                    <a href="{{ path_for('admin.order.delete', { 'uid': order.id }) }}" class="btn btn-danger" title="Delete User"><i class="icon-remove"></i></a>
                  {% if order.attested_id %}
                    <a href="{{ path_for('admin.order.unattest', { 'uid': order.id }) }}" class="btn btn-warning" title="Un-atterst Order"><i class="icon-check-empty"></i></a>
                  {% else %}
                    <a href="{{ path_for('admin.order.attest', { 'uid': order.id }) }}" class="btn btn-success" title="Atterst Order"><i class="icon-check"></i></a>
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}