{% if auth.isParticipant and dashboard %}
<li class="dropdown">
  <a class="dropdown-toggle" href="{{ path_for('home') }}" data-toggle="dropdown"> Lotka-volterra</a>
  <ul class="dropdown-menu" role="menu">
    {{ include('new/partials/navbar/site_menu.html') }}
  </ul>
</li>
{# <li><a href="{{ path_for('participant.page', { 'page': 'shop' }) }}"> Shop</a></li> #}
<li><a href="https://lotkavolterra.slack.com/" target="_new"> Slack</a></li>
{# https://join.slack.com/t/lotkavolterra/shared_invite/enQtMjkyNjMyOTI1MTg1LWQxYWI5NThmY2Y5ZDZlMmQ5Y2E3OWMxZjFkY2E0ZjA2NDI4Yzc2Mzk0YjA1YWUyYzgxNGNjM2Y2YTc4OGI4OGU #}

{% if dashboard %}
<li class="dropdown">
  <a class="dropdown-toggle" href="{{ path_for('participant.home') }}" data-toggle="dropdown"><i class="fa fa-home"></i> Dashboard</a>
  <ul class="dropdown-menu" role="menu">
  {% for key, section in dashboard.sections %}
    <li class="{{section.pages ? 'dropdown' : ''}}">
      <a {% if section.pages %}class="dropdown-toggle" data-toggle="dropdown"{% endif %} href="{{ section.target }}"> {{ section.title }}</a>
      {% if section.pages %}
      <ul class="dropdown-menu" role="menu">
        {% for page_key, page in section.pages %}
        <li><a href="{{ page.target }}" title="{{ page.info }}"> {{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</li>
{% endif %}

{% if auth.isAdmin %}
<li class="dropdown"><a class="dropdown-toggle" href="{{ path_for('admin.index') }}" data-toggle="dropdown"><i class="fa fa-cogs"></i> Admin</a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ path_for('admin.index') }}"><i class="fa fa-home"></i> Dashboard</a></li>
    <li><a href="{{ path_for('admin.orders.all') }}"><i class="fa fa-ticket"></i> Orders</a></li>
    <li><a href="{{ path_for('admin.orders.external') }}"><i class="fa fa-magnet"></i> External Orders</a></li>
    <li><a href="{{ path_for('admin.users.all') }}"><i class="fa fa-user"></i> Users</a></li>
    <li><a href="{{ path_for('admin.posts.all') }}"><i class="fa fa-copy"></i> Posts</a></li>
  </ul>
</li>
{% endif %}

{% if auth.isWriter %}
<li class="dropdown"><a class="dropdown-toggle" href="{{ path_for('admin.index') }}" data-toggle="dropdown"><i class="fa fa-pencil"></i> Writers</a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ path_for('admin.character.list') }}"><i class="fa fa-user"></i> Characters</a></li>
    <li><a href="{{ path_for('admin.group.list') }}"><i class="fa fa-group"></i> Groups</a></li>
    <li><a href="{{ path_for('admin.plot.list') }}"><i class="fa fa-bullhorn"></i> Plots</a></li>
    <li><a href="{{ path_for('admin.relation.list') }}"><i class="fa fa-comments-o"></i> Relations</a></li>
  </ul>
</li>
{% endif %}

<li><a href="{{ path_for('participant.page', { 'page': 'profile' }) }}"><i class="fa fa-child"></i> Profile</a></li></a></li>
<li><a href="{{ path_for('user.logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>

{% else %}
{{ include('new/partials/navbar/site_menu.html') }}
<li><a href="{{ path_for(auth.isParticipant ? 'participant.home' : 'user.login') }}"><span class="icon-key"></span> Participants</a></li>
<!--
<li><a href="{{ path_for('open.page', { 'category': 'tickets' }) }}" class="btn btn-d btn-round btn-block" type="submit">TICKETS</a></li>
//-->
{% endif %}
