{% if auth.isParticipant and dashboard %}
<li class="dropdown">
  <a class="dropdown-toggle" href="{{ path_for('home') }}" data-toggle="dropdown"> Lotka-volterra</a>
  <ul class="dropdown-menu" role="menu">
    {{ include('new/partials/navbar/site_menu.html') }}
  </ul>
</li>
{# <li><a href="{{ path_for('participant.page', { 'page': 'shop' }) }}"> Shop</a></li> #}

<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="https://lotkavolterra.slack.com/" target="_new"><i class="fa fa-chat"></i> Slack</a>
  <ul class="dropdown-menu" role="menu">
    <li><a class="dropdown-toggle" data-toggle="dropdown" href="https://lotkavolterra.slack.com/" target="_new"> Participant Slack</a></li>
    <li><a class="dropdown-toggle" data-toggle="dropdown" href="https://join.slack.com/t/lotkavolterra/shared_invite/enQtMzA3NDA4MzA2NDg2LTU1ZGU3OTNjMWEzNWI5ZjBkMzVkZTU1YTMxYWI0YWJlYjU3ODJiYTMxZTYxYjU1MzU5YTkwNWUyYzAyZmIwMjM" target="_new"> Join Slack</a></li>
  </ul>
</li>

{% if dashboard %}
<li class="dropdown">
  <a class="dropdown-toggle" href="{{ path_for('participant.home') }}" data-toggle="dropdown"><i class="fa fa-home"></i> Community</a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="https://lotka-volterra.se/schedule.php" target="_blank">Shift schedule</a>
  {% for key, section in dashboard.sections %}
    <li class="{{section.pages ? 'dropdown' : ''}}">
      <a {% if section.pages %}class="dropdown-toggle" data-toggle="dropdown"{% endif %} href="{{ section.target }}"> {{ section.title }}</a>
      {% if section.pages %}
      <ul class="dropdown-menu" role="menu">
        {% for page_key, page in section.pages %}
        <li><a href="{{ page.target }}" title="{{ page.info }}"> {{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</li>
{% endif %}

{% if auth.isWriter %}
<li class="dropdown"><a class="dropdown-toggle" href="{{ path_for('admin.index') }}" data-toggle="dropdown"><i class="fa fa-cog"></i> Tools</a>
  <ul class="dropdown-menu" role="menu">

  {% if auth.isAdmin %}
    <li class="dropdown"><a class="dropdown-toggle" href="{{ path_for('admin.index') }}" data-toggle="dropdown"><i class="fa fa-cogs"></i> Admin</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path_for('admin.index') }}"><i class="fa fa-home"></i> Dashboard</a></li>
        <li><a href="{{ path_for('admin.orders.all') }}"><i class="fa fa-ticket"></i> Orders</a></li>
        <li><a href="{{ path_for('admin.orders.external') }}"><i class="fa fa-magnet"></i> External Orders</a></li>
        <li><a href="{{ path_for('admin.users.all') }}"><i class="fa fa-user"></i> Users</a></li>
        <li><a href="{{ path_for('admin.posts.all') }}"><i class="fa fa-copy"></i> Posts</a></li>
      </ul>
    </li>
  {% endif %}

  {% if auth.isWriter %}
    <li class="dropdown"><a class="dropdown-toggle" href="{{ path_for('admin.index') }}" data-toggle="dropdown"><i class="fa fa-pencil"></i> Writers</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path_for('admin.character.list') }}"><i class="fa fa-user"></i> Characters</a></li>
        <li><a href="{{ path_for('admin.group.list') }}"><i class="fa fa-group"></i> Groups</a></li>
        <li><a href="{{ path_for('admin.plot.list') }}"><i class="fa fa-bullhorn"></i> Plots</a></li>
        <li><a href="{{ path_for('admin.relation.list') }}"><i class="fa fa-comments-o"></i> Relations</a></li>
      </ul>
    </li>
  {% endif %}
  </ul>
</li>
{% endif %}

{{ include('new/partials/navbar/notifications.html') }}

<li><a href="{{ path_for('participant.page', { 'page': 'profile' }) }}" title="Profile"><i class="fa fa-child"></i> <span class="hidden-sm hidden-md">Profile</span></a></li></a></li>
<li><a href="{{ path_for('user.logout') }}" title="Logout"><i class="fa fa-power-off"></i> <span class="hidden-sm hidden-md"> Log Out</a></li>

{% else %}
{{ include('new/partials/navbar/site_menu.html') }}
<li><a href="{{ path_for(auth.isParticipant ? 'participant.home' : 'user.login') }}"><span class="icon-key"></span> <span class="hidden-sm hidden-md">Participant Login</a></li>
<!--
<li><a href="{{ path_for('open.page', { 'category': 'tickets' }) }}" class="btn btn-d btn-round btn-block" type="submit">TICKETS</a></li>
//-->
{% endif %}
