              <div class="col-sm-4">
                <div class="widget">
                  <h5 class="widget-title font-alt">Lotka-Volterra</h5>
                  <p>When: <b>5th to 8th</b> of April 2018</p>
                  <p>Where: <a href="https://goo.gl/maps/nyCr2KwVhaA2" target="_blank">Lurbo</a>, Uppsala, Sweden</p>
                  <p>Contact: <a href="mailto:lotka@beratta.org">lotka@beratta.org</a></p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget">
                  <h5 class="widget-title font-alt">Produced By</h5>
                  <ul class="icon-list">
                    <li><a href="http://beratta.org/" target="_blank">Berättelsefrämjandet</a></b></li>
                    <li><a href="#"><b style="color: #E00; border-bottom: .05em solid currentcolor;">Ariadnes Red Thread</b></a></li>
                    <li><a href="http://atropos.se/" target="_blank">Atropos</a></b></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget">
                  <h5 class="widget-title font-alt">Dev-Blog</h5>
                  <ul class="widget-posts">
                    {% for post in site.devBlog.posts %}
                    <li class="clearfix">
                      {% if post.thumbnail %}
                      <div class="widget-posts-image"><a href="{{ post.url }}"><img src="{{ post.thumbnail }}" alt="{{ post.title }}"/></a></div>
                      {% endif %}
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                        <div class="widget-posts-meta"><h6>{{ post.date|date('d/m/Y') }}</h6></div>
                        <!--//
                        <div class="widget-posts-excerpt"><a href="{{ post.url }}"><h6>
                          {{ post.excerpt|raw }}
                          </h6></a></div>
                        //-->
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
