<ul>
  <li class="{{ path_for('admin.index')|isActive }}">
    <a href="{{ path_for('admin.index') }}"><i class="icon icon-home"></i> <span>Dashboard</span></a>
  </li>

  <li class="submenu {{ [path_for('admin.tasks'),path_for('admin.tasks.all'),path_for('admin.tasks.done'),path_for('admin.task.add'),]|isActive }}">
    <a href="{{ path_for('admin.tasks') }}">
      <i class="icon icon-th-list"></i> <span>Tasks</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.tasks.blocked')|isActive }}">
        <a href="{{ path_for('admin.tasks.blocked') }}">Blocked</a> <span class="label label-important"></span></li>      
      <li class="{{ path_for('admin.tasks')|isActive }}">
        <a href="{{ path_for('admin.tasks') }}">ToDo</a></li>
      <li class="{{ path_for('admin.tasks.all')|isActive }}">
        <a href="{{ path_for('admin.tasks.all') }}">All</a></li>
      <li class="{{ path_for('admin.tasks.done')|isActive }}">
        <a href="{{ path_for('admin.tasks.done') }}">Done</a></li>
      <li class="{{ path_for('admin.task.add')|isActive }}">
        <a href="{{ path_for('admin.task.add') }}"><i class="icon-plus-sign"></i> <span>New task</span> </a></li>
    </ul>
  </li>
  
  <li class="submenu {{ [path_for('admin.orders.all'),path_for('admin.orders.attested'),path_for('admin.orders.unattested'),path_for('admin.orders.partial'),path_for('admin.order.add'),path_for('admin.orders.multiples')]|isActive }}">
    <a href="{{ path_for('admin.orders.all') }}">
      <i class="icon icon-money"></i> <span>Orders</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.orders.attested')|isActive }}">
        <a href="{{ path_for('admin.orders.attested') }}">Attested</a></li>
      <li class="{{ path_for('admin.orders.unattested')|isActive }}">
        <a href="{{ path_for('admin.orders.unattested') }}">Unattested</a></li>
      <li class="{{ path_for('admin.orders.partial')|isActive }}">
        <a href="{{ path_for('admin.orders.partial') }}">Partial</a></li>
      <li class="{{ path_for('admin.orders.multiples')|isActive }}">
        <a href="{{ path_for('admin.orders.multiples') }}">Multiple</a></li>      
      <li class="{{ path_for('admin.orders.all')|isActive }}">
        <a href="{{ path_for('admin.orders.all') }}">All</a></li>
      <li class="{{ path_for('admin.order.add')|isActive }}">
        <a href="{{ path_for('admin.order.add') }}"><i class="icon-plus-sign"></i> <span>Create new</span> </a></li>
    </ul>
  </li>

  <li class="{{ path_for('admin.orders.external')|isActive }}">
    <a href="{{ path_for('admin.orders.external') }}"><i class="icon icon-magnet"></i> <span>External Orders</span></a>
  </li>

  <li class="submenu {{ [path_for('admin.users.all'),path_for('admin.user.add')]|isActive }}">
    <a href="{{ path_for('admin.users.all') }}">
      <i class="icon icon-user"></i> <span>Users</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.users.all')|isActive }}">
        <a href="{{ path_for('admin.users.all') }}">All</a></li>
      <li class="{{ path_for('admin.users.gallery')|isActive }}">
        <a href="{{ path_for('admin.users.gallery') }}">Gallery</a></li>
      <li class="{{ path_for('admin.user.add')|isActive }}">
        <a href="{{ path_for('admin.user.add') }}"><i class="icon-plus-sign"></i> <span>Create new</span> </a></li>
    </ul>
  </li>

  <li class="submenu {{ [path_for('admin.tickets.all'),path_for('admin.ticket.add')]|isActive }}">
    <a href="{{ path_for('admin.tickets.all') }}">
      <i class="icon icon-film"></i> <span>Tickets</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.tickets.all')|isActive }}">
        <a href="{{ path_for('admin.tickets.all') }}">All</a></li>
      <li class="{{ path_for('admin.ticket.add')|isActive }}">
        <a href="{{ path_for('admin.ticket.add') }}"><i class="icon-plus-sign"></i> <span>Create new</span> </a></li>
    </ul>
  </li>

  <li class="submenu {{ [path_for('admin.posts.all'),path_for('admin.post.add')]|isActive }}">
    <a href="{{ path_for('admin.posts.all') }}">
      <i class="icon icon-copy"></i> <span>Posts</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.posts.all')|isActive }}">
        <a href="{{ path_for('admin.posts.all') }}">All</a></li>
      <li class="{{ path_for('admin.post.add')|isActive }}">
        <a href="{{ path_for('admin.post.add') }}"><i class="icon-plus-sign"></i> <span>Create new</span> </a></li>
    </ul>
  </li>

  <li class="submenu {{ [path_for('admin.character.list'),path_for('admin.character.add')]|isActive }}">
    <a href="{{ path_for('admin.participant.dashboard') }}">
      <i class="icon icon-user"></i> <span>Characters</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.character.list')|isActive }}">
        <a href="{{ path_for('admin.character.list') }}">All</a></li>
      <li class="{{ path_for('admin.character.add')|isActive }}">
        <a href="{{ path_for('admin.character.add') }}"><i class="icon-plus-sign"></i> <span>Create new</span> </a></li>
    </ul>
  </li>
  
  <li class="submenu {{ [path_for('admin.group.list'),path_for('admin.group.add')]|isActive }}">
    <a href="{{ path_for('admin.participant.dashboard') }}">
      <i class="icon icon-group"></i> <span>Groups</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.group.list')|isActive }}">
        <a href="{{ path_for('admin.group.list') }}">All</a></li>
      <li class="{{ path_for('admin.group.add')|isActive }}">
        <a href="{{ path_for('admin.group.add') }}"><i class="icon-plus-sign"></i> <span>Create new</span> </a></li>
    </ul>
  </li>
  
  <li class="submenu {{ [path_for('admin.plot.list'),path_for('admin.plot.add')]|isActive }}">
    <a href="{{ path_for('admin.participant.dashboard') }}">
      <i class="icon icon-comments-alt"></i> <span>Plots</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.plot.list')|isActive }}">
        <a href="{{ path_for('admin.plot.list') }}">All</a></li>
      <li class="{{ path_for('admin.plot.add')|isActive }}">
        <a href="{{ path_for('admin.plot.add') }}"><i class="icon-plus-sign"></i> <span>Create new</span> </a></li>
    </ul>
  </li>  
  
  <li class="submenu {{ [path_for('admin.relation.list'),path_for('admin.relation.add')]|isActive }}">
    <a href="{{ path_for('admin.participant.dashboard') }}">
      <i class="icon icon-heart-empty"></i> <span>Relations</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.relation.list')|isActive }}">
        <a href="{{ path_for('admin.relation.list') }}">All</a></li>
      <li class="{{ path_for('admin.relation.add')|isActive }}">
        <a href="{{ path_for('admin.relation.add') }}"><i class="icon-plus-sign"></i> <span>Create new</span> </a></li>
    </ul>
  </li>
  
  <li class="submenu {{ [path_for('admin.media.all'),path_for('admin.media.add')]|isActive }}">
    <a href="{{ path_for('admin.media.all') }}">
      <i class="icon icon-copy"></i> <span>Media</span> <span class="label label-important"></span>
    </a>
    <ul>
      <li class="{{ path_for('admin.media.all')|isActive }}">
        <a href="{{ path_for('admin.media.all') }}">All</a></li>
      <li class="{{ path_for('admin.media.add')|isActive }}">
        <a href="{{ path_for('admin.media.add') }}"><i class="icon-plus-sign"></i> <span>Upload new</span> </a></li>
    </ul>
  </li>  
  
  <li class="{{ [path_for('admin.bulkmail')]|isActive }}">
    <a href="{{ path_for('admin.bulkmail') }}">
      <i class="icon icon-envelope-alt"></i> <span>Bulk Mailer</span> <span class="label label-important"></span>
    </a>
  </li>  
  
  <li class="content"> <span>Ticket Sales Amount</span>
    <div class="progress progress-mini progress-danger active progress-striped">
      <div style="width: {{ (100 * ticketData.totalAmount/100 / ticketData.target)|number_format }}%;" class="bar"></div>
    </div>
    <span class="percent"> {{ (100 * ticketData.totalAmount/100 / ticketData.target)|number_format }}%</span>
    <div class="stat">{{ ticketData.totalAmount/100|number_format }} / {{ ticketData.target }} SEK</div>
  </li>

  <li class="content"> <span>Tickets Sold</span>
    <div class="progress progress-mini progress-danger active progress-striped">
      <div style="width: {{ (100 * ticketData.totalSold / ticketData.goal)|number_format }}%;" class="bar"></div>
    </div>
    <span class="percent">{{ (100 * ticketData.totalSold / ticketData.goal)|number_format }}%</span>
    <div class="stat">{{ ticketData.totalSold|number_format }} / {{ ticketData.goal }}</div>
  </li>

  <li class="content"> <span>Days To Event</span>
    <div class="progress progress-mini active progress-striped">
      <div style="width: {{ 100 * (1 - ticketData.daysLeft/365) }}%;" class="bar"></div>
    </div>
    <div class="stat">{{ ticketData.daysLeft }} Days left</div>
  </li>
</ul>