<h2>The Arrival</h2>
<p>
No one knew where they came from. They appeared to our systems mere hours before they entered atmosphere. They hung there, enormous black hulks, kept still from unknown forces. 
</p>
<p>
Then, in one unified symphony, they unleashed destruction. The seas were vaporized by terrible bombardments, the enormous forests of the equatorial regions were set ablaze, the earth’s most precious natural resources destroyed. We, humanity, were exterminated almost as an afterthought. The tsunamis and the radioactive floods wiped out our coastlands, while the irradiated smog from the enormous fires destroyed our urban regions. Those living in rural areas watched in horror as the skies turned red, then black, as our civilization broke down.
</p>
<p>
Then came the second wave. It came in silence. Thousands upon thousands of intricate machines and strange biological constructs landed all across the globe, in a massive web. They started working, overturning the earth, and their work meant death for us. Even our skies slowly turned toxic, filling with carbon monoxide and methane.
</p>
<p>
Some tried to fight while others only tried to flee. At some point, we discovered that they would not go deep underground, and so old bomb shelters, mines and subway systems became our new homes. The breakdown of communication means that only old fashioned radio waves carry our communication and they, too, are unreliable. No one knew how many others escaped into the safety of the dark. 
</p>
<h2>The Starving Years</h2>
<p>
As humanity retreated into the shadows, yielding the surface of the Earth to the unknown force that had claimed it, the challenges we faced gradually changed. What had been a matter of merely surviving until the next day, the next week, became a matter of finding a way to survive for a month or even for a year. At first, it seemed and felt as if there was no hope to be had - that we had simply exchanged death by radiation or asphyxiation with a slow death from starvation. And yes, many died that way.
</p>
<p>
But, in a display of the immense adaptability of mankind, we accepted the fact that our lives had been irrevocably changed, that the surface of the Earth was no longer ours and that we now had to sustain ourselves with what we had. Not even the most prepared survivalist had been able to fathom a scenario where we would be forced to abandon all that which gave us sustenance and forge something entirely new in an ecosystem never meant for us. The years that followed became known as the Starving Years. 
</p>
<p>
It is impossible to know how many people died in the initial attacks, but it is a certainty that most of those who had escaped died in the aftermath. Those who lived through those times often refuse to speak about them. The horrors of hunger and darkness are vivid in humanity’s genetic memory and what happened between those who had helped each other survive, once they were trapped together without food, was unspeakable.
</p>
<p>
Yet, even as some fell to horrible fates, others banded together and found that their new homes did hold some hope for survival. People like us, here. 
</p>
<p>
We found underground food stores reached through service tunnels, a few even dared raids to the surface in a desperate attempt at scavenging food. Some built primitive hydroponic systems from the scraps that were found. 
</p>
<p>
The Starving Years took a terrible toll, and perhaps we would have died if it wasn’t for a few important things we learned about the Enemy.
</p>
<p>
They did not seem to search for survivors, they never ventured below apart from a few rare exceptions. They did not seem intent on destroying property or stores, some of them even ignored our presence all together. We were just insects, grabbing at crumbs, while they were at work on something far greater in scope. 
</p>
<p>
What is worse, do you think - being the enemy of some unknown, all-powerful Alien race, or being the irrelevant insects that sometimes get caught in their nets? Some argued that they hated us, that they feared us and wanted us destroyed as a species. Others concluded that we were just cockroaches, a nuisance but nothing more. 
</p>
<p>
Even so, it meant survival, as long as there was food to loot in dangerous surface expeditions. Needless to say, everyone realized that this food would not last forever and raiding the surface to forage for game, grains or fruit sometimes yielded less calories than it took to bring it in, but it gave us some breathing room. We would have a chance to build something lasting while sustaining ourselves on the things left behind by a dead civilization.
</p>

<h2>Haven Colony</h2>
<p>
In the thirteen years that have passed since The Nightfall - that is what most people now call the arrival, the last nine of those have been spent building up the place called Haven. It started as a gathering of people, a few souls that managed to eke out an existence against all odds. We built it and carved it out of a subway system, connecting both old fallout shelters and storage facilities with infrastructure and power lines. It became our great sprawling web of life. 
</p>
<p>
At first, there was no real organization here. Everyone did what they could - some took up leadership roles just out of habit, others were elected by small groups to lead their particular efforts. It took almost a year until the first military-trained people took command of the defenses and made their own little hierarchy within a previously rather loose-governed group. There were a dozen different groups and at least twenty small micro-societies within the bigger one, and growing as more people found their way down.
</p>
<p>
In the year after that, media channels started cropping up, growing alongside the cables that were branching out within Haven’s webbing. Elections were called, and the concept of citizenry was instated. It included everyone living in the colony at the time, but no others. 
</p>
<p>
Looking back, we all remember the results, but truth be told is that it wasn’t a smooth process. People died, people were pushed out, ideas fought ideas through political organizing. It is as any birth of a nation - chaotic, bloody, messy but inevitable and ultimately necessary. 
</p>
<p>
Today, Haven Colony is ruled in two different ways. You have the Citizen Council, elected on a two year basis, then there’s the Operations, the military hierarchy that do not have any elections but whose high-ups are in close contact with the Council. Then, there are the four Whistles, the whistleblowers, individuals elected to be the watchers of the watchers. They’re sworn to silence, but also get to sit in on all the meetings with the Council, the Operations or between the two. 
</p>
<p>
It took a long hard political fight to get that idea through, but now we have something that is starting to look like a democracy. For citizens, at least. The people who’ve come later get to enter a probationary period of at least a year, to earn their keep. Air and food is not free here, and everyone has to contribute. If you’re taking it up and not giving back, someone else goes without the things they need. Is it fair? Maybe not. We just happened to be first. But, it is necessary - they weren’t here to build up Haven, we were. We had to do the dirty work, the hard work, but we carried through. We made this for us, and for them, and now they can reap the rewards. 
</p>
<p>
We don’t get that many stragglers any more. If you’re on the surface you’re either dead or crazy, but it still happens sometimes. Families or small groups who’ve been living all this time up there, skulking about at night and dodging machines and living off who knows what. We take them in unless they’re batshit crazy of course, since they’re obviously survivor material. Others we turn away, and sometimes they make trouble for us. We can’t have trouble.
</p>
<p>
All in all, now, Haven has roughly four thousand people living under ground. 
</p>

<h2>The Outpost</h2>
<p>
A few years after we founded Haven, it became apparent that its situation was unsustainable. It was growing too large, too fast, and everything from waste disposal to air recycling, from living space to plantation area was running out. In the paranoia and wariness over somehow attracting the attention of the Enemy, the colony had limits and extreme restrictions built into its very foundation. In order to both expand and also preserve its unique position, the Outpost program was founded.
</p>
<p>
Groups of individuals were chosen according to a diverse set of needed skills and sent out into the furthest and most promising tunnels. Some of them even traversed short stretches above ground in the search for more suitable areas to inhabit. Four teams were sent out - three teams reported back. One team never did, not even to this day. Two of the teams had found areas suitable for habitation - one close by Haven, one further away, and both were instructed to start building infrastructure and settle in for the long haul. 
</p>
<p>
That is how the nascent new version of human civilization slowly started creeping out of its hole and out into the anthill that used to be the underground world of our old cities. The first two outposts were established; Sparta and Ithaca.
</p>
<p>
Just six months ago, four years after the first ones were sent out, we sent out two teams to locate suitable areas for new outposts. Two months ago, they came back to us, reporting that they’d found a place, a massive underground fallout shelter, protected from the ravages of the world to a large degree. The surface around it had promising areas and its radiation and toxicology levels were low enough that short-time exposure was possible. 
</p>
<p>
Once more, we decided to send brave citizens out to do what had seemed impossible - to reclaim our future, to settle new land for the people of Haven. You are those citizens, you are the second wave of people to inhabit the Outpost, chosen to make landfall and make it more permanent for the people who will come to live there. You will spend six months there before you can return home. You are the forerunners and the builders, the engineers and the leaders, the hydro-farmers and the soldiers that Haven and humanity needs. 
</p>
<p>
You are Outpost Thermopylae. 
</p>
<p>
As an outpost, you have a wide variety of duties. Your primary task is military in nature: you are to provide intelligence and reconnaissance of Enemy movements and activities, and report it back to Haven. Every piece of information, every captured data communication or scrap of alien technology we can get our hands on increases not only our chances of survival but our ability to strike back.
</p>
<p>
You are also tasked with making repairs and upgrading the Outpost to a better state, and to occasionally forage on the surface for materials and supplies.
</p>