{% extends 'admin/dashboard/main.twig' %}

{% block title %}Character Manager{% endblock %}

{% block contentHeader %}
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="{{ path_for('admin.index') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
      <a href="{{ path_for('admin.participant.dashboard') }}">Participants</a> 
      <a href="#" class="current">Relations</a>
    </div>
    
    <h1>Relations</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Relations</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Characters</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for relation in relations %}
                <tr class="gradeA">
                  <td class="center">{{ relation.id }}</td>
                  <td><a href="{{ path_for('admin.relation.edit', { 'uid': relation.id }) }}" title="Edit Relation">{{ relation.name }}</a></td>
                  <td class="center"><i class="{{ relation.attr|key('relationship_icon') }}"></i> {{ relation.attr|key('relationship_type') }}</td>
                  <td class="center">
                    {% for character in relation.characters %}
                    <a href="{{ path_for('admin.character.edit', { 'uid': character.id }) }}" title="Edit Character">{{ character.name }}</a>{% if loop.last %}{% else %}, {% endif %}
                    {% endfor %}                    
                  </td>
                  <td class="center">
                    <a href="{{ path_for('admin.relation.edit', { 'uid': relation.id }) }}" class="btn btn-default" title="Edit Relation"><i class="icon-edit"></i></a>
                    <a href="{{ path_for('admin.relation.delete', { 'uid': relation.id }) }}" class="btn btn-danger" title="Delete Relation"><i class="icon-remove"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}