<h2>Survival against all odds</h2>
<p>Lotka-Volterra is an international scifi larp set in a bleak near future where mankind is all but extinct, preyed upon by technologically superior alien threat, but nevertheless surviving against all odds. You will be playing one of the survivors of <i>Haven Colony</i>, doing a several months long duty shift at the semi-military outpost of <i>Thermopylae</i>.</p>
                 
<p>Lotka-Volterra is produced by <b><a href="http://beratta.org/" target="_blank">Berättelsefrämjandet</a></b> & <b>Ariadnes Red Thread</b>. By signing up for Lotka-Volterra you also become a member of Berättelsefrämjandet. This is great, because it makes you covered by a couple of pretty great insurance policies should anything happen.</p>
 <p>
   <figure>
    <img src="img/fo47.jpg" class="img-fullwidth" alt="A corridor in the shelter">
    <figcaption>A corridor in the shelter</figcaption>
  </figure>
</p>