<h2>THE CREW</h2>
<p>
Lotka-Volterra is organized by <a href="http://beratta.org" target="_blank">Berättelsefrämjandet</a> and Ariadnes Red Thread. To contact us, email <a href="lotka@beratta.org">lotka@beratta.org</a>.
</p>

<h3>Executive producers</h3>

<figure><img src="img/olle.jpg"><figcaption>Olle Nyman</figcaption></figure>
<figure><img src="img/seb.jpg"><figcaption>Sebastian Utbult</figcaption></figure>
<figure><img src="img/simon.jpg"><figcaption>Simon Svensson</figcaption></figure>

<h3>Fiction & Story</h3>

<figure><img src="img/simon.jpg"><figcaption>Simon Svensson</figcaption></figure>
<figure><img src="img/petra.jpg"><figcaption>Petra Lindve</figcaption></figure>
<figure><img src="img/ak.jpg"><figcaption>Anna-Karin Linder</figcaption></figure>
<figure><img src="img/mathilda.jpg"><figcaption>Mathilda Hagfoss</figcaption> </figure>
<figure><img src="img/mia.jpg"><figcaption>Mia Häggström</figcaption> </figure>
<figure><img src="img/alma.jpg"><figcaption>Alma Elofsson</figcaption></figure>

<h3>Scenography & Props</h3>

<figure><img src="img/sortti.jpg"><figcaption>Anna Sortti</figcaption></figure>
<figure><img src="img/enmark.jpg"><figcaption>Fredrik Enmark</figcaption></figure>
<figure><img src="img/emanu.jpg"><figcaption>Emanuel Garnheim</figcaption></figure>
<figure><img src="img/sara.jpg"><figcaption>Sara Pertmann</figcaption></figure>
<figure><img src="img/carl.jpg"><figcaption>Carl Nordblom</figcaption></figure>
<figure><img src="img/elina.jpg"><figcaption>Elina Andersson</figcaption> </figure>
<figure><img src="img/sophie.jpg"><figcaption>Sophie Zimmerman</figcaption> </figure>

<h3>Food</h3>

<figure><img src="img/erik.jpg"><figcaption>Erik Stormark</figcaption></figure>

<h3>Logistics</h3>

<figure><img src="img/martina.jpg"><figcaption>Martina Jansson</figcaption></figure>
<figure><img src="img/henrik.jpg"><figcaption>Henrik Esbjörnsson</figcaption></figure>
<figure><img src="img/fille.jpg"><figcaption>Hans Vrede</figcaption></figure>
<figure><img src="img/emma.jpg"><figcaption>Emma Prütz</figcaption></figure>


<h3>Onsite crew</h3>

<figure><img src="img/cissi.jpg"><figcaption>Cecilia Dolk</figcaption></figure>
<figure><img src="img/michael.jpg"><figcaption>Michael Hemmingsson</figcaption></figure>
<figure><img src="img/sofie.jpg"><figcaption>Sofie Falk</figcaption></figure>


<h3>Tech</h3>

<figure><img src="img/seb.jpg"><figcaption>Sebastian Utbult</figcaption></figure>
<figure><img src="img/sonny.jpg"><figcaption>Sonny Hittersten</figcaption></figure>
<figure><img src="img/andreas.jpg"><figcaption>Andreas Amsvartner</figcaption></figure>
<figure><img src="img/jon.jpg"><figcaption>Jon Rundlöf</figcaption></figure>
<figure><img src="img/fredrik.jpg"><figcaption>Fredrik Ulvstig</figcaption></figure>


<h3>Art department</h3>

<figure><img src="img/tia.jpg"><figcaption>Tia Carolina Ihalainen</figcaption></figure>
<figure><img src="img/nico.jpg"><figcaption>Nicolas Lennman</figcaption></figure>
<figure><img src="img/tobbe.jpg"><figcaption>Tobias Johansson</figcaption></figure>
<figure><img src="img/peter.jpg"><figcaption>Peter Edgar</figcaption></figure>
<figure><img src="img/emanu.jpg"><figcaption>Emanuel Garnheim</figcaption></figure>
