<h2>THE CREW</h2>
<p>
Lotka-Volterra is organized by <a href="http://beratta.org" target="_blank">Berättelsefrämjandet</a> and Ariadnes Red Thread. To contact us, email <a href="info@beratta.org">info@beratta.org</a>.
</p>

<h3>Executive producers</h3>

<figure><figcaption>Olle Nyman</figcaption><img src="img/olle.jpg"></figure>
<figure><figcaption>Sebastian Utbult</figcaption><img src="img/seb.jpg"></figure>
<figure><figcaption>Simon Svensson</figcaption><img src="img/simon.jpg"></figure>

<h3>Fiction & Story</h3>

<figure><figcaption>Simon Svensson</figcaption><img src="img/simon.jpg"></figure>
<figure><figcaption>Petra Medve</figcaption><img src="img/petra.jpg"></figure>
<figure><figcaption>Anna-Karin Linder</figcaption><img src="img/ak.jpg"></figure>
<figure><figcaption>Mathilda Hagfoss</figcaption><img src="img/mathilda.jpg"></figure>

<h3>Scenography & Props</h3>

<figure><figcaption>Anna Sortti</figcaption><img src="img/sortti.jpg"></figure>
<figure><figcaption>Fredrik Enmark</figcaption><img src="img/enmark.jpg"></figure>
<figure><figcaption>Emanuel Garnheim</figcaption><img src="img/emanu.jpg"></figure>
<figure><figcaption>Sara Pertmann</figcaption><img src="img/sara.jpg"></figure>

<h3>Food</h3>

<figure><figcaption>Erik Stormark</figcaption><img src="img/erik.jpg"></figure>

<h3>Logistics</h3>

<figure><figcaption>Henrik Esbjörnsson</figcaption><img src="img/henrik.jpg"></figure>
<figure><figcaption>Hans Vrede</figcaption><img src="img/fille.jpg"></figure>


<h3>Onsite crew</h3>

<figure><figcaption>Cecilia Dolk</figcaption><img src="img/cissi.jpg"></figure>
<figure><figcaption>Michael Hemmingsson</figcaption><img src="img/michael.jpg"></figure>


<h3>Tech</h3>

<figure><figcaption>Sebastian Utbult</figcaption><img src="img/seb.jpg"></figure>
<figure><figcaption>Sonny Hittersten</figcaption><img src="img/sonny.jpg"></figure>
<figure><figcaption>Andreas Amsvartner</figcaption><img src="img/andreas.jpg"></figure>
<figure><figcaption>Jon Rundlöf</figcaption><img src="img/jon.jpg"></figure>
<figure><figcaption>Fredrik Ulvstig</figcaption><img src="img/fredrik.jpg"></figure>


<h3>Art department</h3>

<figure><figcaption>Tia Carolina Ihalainen</figcaption><img src="img/tia.jpg"></figure>
<figure><figcaption>Nicolas Lennman</figcaption><img src="img/nico.jpg"></figure>
<figure><figcaption>Tobias Johansson</figcaption><img src="img/tobbe.jpg"></figure>
<figure><figcaption>Peter Edgar</figcaption><img src="img/peter.jpg"></figure>
<figure><figcaption>Emanuel Garnheim</figcaption><img src="img/emanu.jpg"></figure>
