<h2>Naturalistic science fiction</h2>
<p>
Lotka-Volterra is “naturalistic” science fiction, meaning everything has a scientific explanation, even though that fact may not be know to players. There will be nothing in canon that is “supernatural” or breaks the internal logic of hard science. The Enemy, however, has technology that is far ahead of our own, but nothing “magic”.
</p>

<h2>Collaborative play-style</h2>
<p>
This is not primarily a larp of conflict between player blocs or factions, as is usually the case. You are all part of the same team, working towards a common goal, in a society that is relatively stable. We are not looking for major upheaval during the larp, or a “larp revolution”. There will, however, be plenty of room for intrapersonal conflict as well as ideological conflict over a few important values within the Outpost. 
</p>

<h2>360 design ideals</h2>
<p>Our aim is to keep as close to the 360 design ideal as possible, meaning that everything you see, touch and interact with should feel “real”. As little abstraction as possible (within reason). That also means that any meta-techniques used will be designed to be as discreet as possible, and not breaking immersion for bystanders.
</p>
<p>
There will also be no act breaks or downtime, the larp will be played actively around the clock.
</p>

<h2>Workshops & Briefings</h2>
<p>Before the larp there will be extensive briefings on-site, giving you all the information and hands-on training you need to perform your specific tasks, using the tech at hand etc. There will also be time to get to know your squad mates and meet the people you have relationships with face to face.
</p>

<h2>Wider world simulation</h2>
<p>
In order to create a sense of a wider world outside the bunker we will have an NPC team online at all times, simulating people in Haven Colony. You will receive emails or have chat conversations with people back in the Colony, orders or requests will trickle down and there will also be time for video calls.
</p>

<p>
The wider world outside the Colony will also be present, in the form of NPCs and technology portraying the Enemy. Sensor data, intercepted data traffic and observation will paint a picture of movement and action on the surface. 
</p>

<h2>Work & shifts</h2>
<p>We want our participants to perform actual, meaningful work during Lotka-Volterra. The nature of this work varies depending on your team, but we put time and effort into making work feel relevant, interesting and fun. 
</p>

<p>Your shift/team is also your first circle of relationships during the larp. They’re your buddies and comrades, the people you spend the majority of your day with and who you share history with. We want to create tight, close teams, and a healthy amount of pride and competition between teams.
</p>
<p>
For maintenance teams your working day will include tasks such as scrubbing (going around the outpost with detectors looking for spore infestations, and cleaning them out), repairing things around the outpost, building things, working in the kitchen or mess hall, handling water transportation and recycling etc. Some of you will also take part in foraging on the surface.
</p>
<p>
MISCON teams will primarily man the systems in the Ops Centre - sensor data, communications, navigation for SURFOPS, expedition logs etc, but you will also be involved in briefing and debriefing surface teams.
</p>
<p>
Surface Operations teams will have the bulk of their shifts at night, since the Enemy is more active during daytime, but you will also do daytime shifts actings as internal security. You will go on missions on the surface, guided by MISCON. Some typical missions are recon (gathering intelligence or observing Enemy movements or activities), foraging (protecting Maintenance teams as they gather supplies or repairing communication relays), “milk runs” (ie going topside to repair sensors or taking soil samples) and offensive action such as sabotage and combat.
</p>
<p>
The Command staff consist of commanders (who have overall authority of the Outpost), specialists and aides. The aides assist the commanders in taking notes, delivering orders or delegating work, and the specialists do some rather specialized things that we will not detail just yet. The Command staff is heavily involved in MISCON/SURFOPS and the day to day assignment of work and schedules for the Outpost.
</p>
<p>
There will be other subgroups and work assignments as well, such as medics, counselors, quartermaster etc.
</p>

<h2>Conflict & Drama</h2>
<p>
While both the Colony and the Outpost is working towards common goals, there will undoubtedly be conflicts, both ideological and personal. While the overarching plot revolves around the survival of the Colony and the threat of the Enemy, there will be plenty of everyday drama between friends and enemies, lovers and rivals, comrades and companions. We are, after all, not more than human.
</p>