{% extends "./main_page.html" %}

{% block header %}
    <img src="/img/lotka-volterra-logo-text.svg" id="lv-logo" class="logo" />
    <p class="intro-text">A scifi larp about survival against all odds
        <br><strong>5-8 April 2018</strong>
        <br>Uppsala, Sweden</p>
    <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
{% endblock %}

{# About Section #}
{% block about %}
    {% include 'open/about.html' %}
{% endblock %}

{# Story Section #}
{% block story %}
    {% include 'open/story.html' %}
{% endblock %}

{# Experience Section #}
{% block experience %}
    {% include 'open/experience.html' %}
{% endblock %}

{# characters Section #}
{% block characters %}
    {% include 'open/characters.html' %}
{% endblock %}


{# esthetic Section #}
{% block esthetic %}
    {% include 'open/esthetic.html' %}
{% endblock %}


{# practical Section #}
{% block practical %}
    {% include 'open/practical.html' %}
{% endblock %}


{# Tickets Section #}
{% block tickets %}
    {% include 'open/tickets.html' %}
{% endblock %}


{# contact Section #}
{% block contact %}
    {% include 'open/contact.html' %}
{% endblock %}
