{% extends "./main_page.html" %}

{% block header %}
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 140" id="lv-logo" class="logo">
      <g fill="#FFF" stroke="none">
        <path d="
          M20,0 h160 l20,20 v100 l-20,20 h-160 l-20,-20 v-100 z
          M160,70 v-30 h-30 z
          M80,40 h-40 v60 h90 l40,40 h10 l2.5,-2.5 l-20,-20 l-2.5,2.5 z
          M00,40 h160 v-5 h-160 z
          " />
      </g>
    </svg>
    <h1 class="brand-heading">LOTKA-VOLTERRA</h1>
    <p class="intro-text">A scifi larp about survival against all odds
        <br><strong>5-8 April 2018</strong>
        <br>Uppsala, Sweden</p>
    <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
{% endblock %}

{# About Section #}
{% block about %}
    {% include 'open/about.html' %}
{% endblock %}

{# Story Section #}
{% block story %}
    {% include 'open/story.html' %}
{% endblock %}

{# Experience Section #}
{% block experience %}
    {% include 'open/experience.html' %}
{% endblock %}

{# characters Section #}
{% block characters %}
    {% include 'open/characters.html' %}
{% endblock %}


{# esthetic Section #}
{% block esthetic %}
    {% include 'open/esthetic.html' %}
{% endblock %}


{# practical Section #}
{% block practical %}
    {% include 'open/practical.html' %}
{% endblock %}


{# signup Section #}
{% block signup %}
    {% include 'open/signup.html' %}
{% endblock %}


{# contact Section #}
{% block contact %}
    {% include 'open/contact.html' %}
{% endblock %}
