<h2>Where</h2>
<p>
Lurbo, just outside Uppsala, Sweden (30 min drive from Arlanda Airport)
</p>
<h2>When</h2>
<p>5th to 8th of April 2018</p>

<h2>Participants</h2>
<p>
Minimum 155* players, maximum 300.<br>
<br>
*) We will need to reach 155 sign-ups by 1st of October to secure the venue.
</p>
<p>
<h2>Language</h2>
<p>Lotka-Volterra will be played in English.</p>

<h2>Cost</h2>
<p>
1700 SEK - Subsidized tickets (limited amount, available on request once the larp is fully funded)<br>
2600 SEK - Standard ticket<br>
3600 SEK - Supporter ticket<br>
</p>

<p>
We can take Stripe (international credit cards) and a few payment methods specifically for Sweden/Scandinavia (Swish, Klarna).
</p>

<h2>What you need to bring</h2>
<p>
    <b>(this is TBD, but will not change much)</b>
</p>

<h2>Clothing</h2>
<ul>
<li>Boots.</li>
<li>Pants/trousers, preferrably with leg-pockets like cargo pants.</li>
<li>Base layer: socks, underwear, neutral tshirt or tank top</li>
<li>Warm, neutral non-patterned sweater (knitted or similar)</li>
<li>Work gloves</li>
</ul>
<p>
Clothes you bring should be neutral (no prints) and be somewhere on the color-scale brown-green-grey-black. Try to keep tactical stuff to an absolute minimum. Two things are completely haram: camouflage and shemaghs. You will need to make your clothes look worn, mended and dirty. There will be a thorough video guide for how to do this later.
</p>

<h2>Personal items</h2>
<ul>
<li>Sleeping bag & sleeping mat (no air mattresses please!). We are working on a solution for you to be able to buy this from us and have it delivered at the venue (if needed), more info on that later.</li>
<li>Hygiene products & any medications you need in discreet packaging (off-game).</li>
<li>A towel</li>
<li>Ear plugs. Do yourself a favor and bring them. It just takes one snoring larper to ruin your night.</li>
<li>A few personal effects for your characters (photos of loved ones, a book, a deck of cards etc).</li>
</ul>

<h2>What we will provide</h2>
<ul>
<li>Any gear and clothing needed for your specific character and/or work shifts (like tool belts for Maintenance etc).</li>
<li>A jacket including a name tag for your character</li>
<li>Headwear specific for your group/role</li>
<li>A personal mug for coffee or tea.</li>
<li>Food</li>
</ul>
<p>
There is a diegetic kitchen onsite, which will serve three hot meals a day. All meals will be vegan, and we will be able to handle most food allergies (it’s important you inform us about this once you are assigned a character/spot). Coffee and tea will be available 24/7. Since you’ll be working shifts around the clock the serving schedule is pretty generous, which means you won't miss a meal.
</p>

<h2>Smoking</h2>
<p>
The entire underground site is a non-smoking area. Vaping is OK, but remember “Chocolate Strawberry” might not be the perfect flavour for this specific larp. You will not be able to just pop out for an off-game smoke during the larp. Smoking indoors will lead to fire alarms going off, followed swiftly by you getting kicked out of the larp, so just don’t do it.
</p>

<h2>Safety & Sanity</h2>
<p>
Sweden in April is cold. Expect outside temperatures at max 12°C daytime and somewhere around 0°C at night (it can drop below zero). Being underground should give us a base temperature of around 10°C, so be prepared for that. There will be heaters in some places (we will aim to keep dormitories and work areas heated), but the bunker is huge and heating it up to normal room temperatures will be impossible, take that into account.
</p>
<p>
You will basically not see daylight during the larp, even if your character has surface missions. The Outpost will be dark and can be claustrophobic. Take this into account as well.
</p>
<p>
The bunker system has been kept well ventilated and dry, and we didn’t detect any mold when we were there, but if you know that you are sensitive to exposure then it might be better not to take the risk.
</p>
<p>
Surface Missions will be conducted at night, meaning you will be wandering around potentially rough terrain with some elevation in some places, in the dark. If you are physically unable to do this, don’t sign up for SURFOPS.
</p>
<p>
You sleep in shifts, and for some of you those shifts are way off from your normal sleep cycle. Beware that there is very little (if any) possibility to take an extra/different sleep shift, and limited off-game sleep areas.
</p>

<h2>Accessibility</h2>
<p>
Due to both the nature of the underground location and the game elements that take place on the surface the accessibility in this venue a challenge. If you have an impairment of some sort and have questions about this, don’t hesitate to contact us. Some key areas will be inaccessible by wheelchair, but we will naturally try to accommodate you in any way we can. 
</p>

<h2>Toilets</h2>
<p>
There is no running water or working drains in the bunker. Porta-potties will be used, and there will be sinks, water and soap etc adjacent to them. Do keep in mind that all water that is used has to be transported out of the bunker manually.
</p>

<h2>Transportation</h2>
<p>
We will most likely organize transportation from Stockholm Central via Arlanda Airport to the larp, and back again (this might or might not come with a nominal fee). More info and sign up for that will follow.
</p>
