
<h3>Supporter tickets now online!</h3>

<form action="./charge" method="post" class="ticket">
  
  {% for ticket in ticket_types %}
  <aside>
    <img src="{{ ticket.img|e }}">
    <h3>{{ ticket.description|e }}</h3>
    <h2>{{ ticket.price|number_format / 10 * 100}} SEK</h2>
    
    <fieldset>
      {% if ticket.sku == 'SUPPORT' %}
      <label for="surname">Character Surname</label>
      <select id="surname" name="surname">
      {% for name in surnames %}
          <option>{{ name.surname|e }}</option>
      {% endfor %}
      </select>
      
      <label for="shirt_type">Shirt Style</label>
      <select id="shirt_type" name="shirt_type">
          {% for style in shirt_styles %}
              <option class="{{ style.type_class|e }}">{{ style.type|e }}</option>
          {% endfor %}                
      </select>
      {% endif %}
      
      <label for="shirt_size">Size</label>
      <select id="shirt_size" name="shirt_size" class="size {{ ticket.sku|e }}">
          {% for shirt in shirts %}
              <option class="{{ shirt.type_class|e }} {{ shirt.size|e }}">{{ shirt.size|e }}</option>
          {% endfor %}
      </select>

      <label for="team">Team Preference</label>
      <select id="team" name="team">
          {% for team in teams %}
              <option class="{{ team.type|e }}">{{ team.name|e }}</option>
          {% endfor %}   
      </select>

      <button class="customButton buy_ticket {{ ticket.sku|e }}">Get ticket!</button>
    </fieldset>
  </aside>
  {% endfor %}
 
    <article id="info" class="loading">
    </article>
</form>
