<h2>Tickets are now available!</h2>
<p>
  By purchasing a ticket you are guaranteed a spot at the larp. We will try to accommodate all wishes for groups, but we reserve the right to assign you to another group if the groups become unbalanced.
</p>
<p>
  Further on you will be given login information to the participant system, in which you will be able to read everything pertaining to your character (such as the character sheet, relationships, etc.), and to interact with other players (ie. building relationships
  etc.).
</p>

<h3>There are three types of tickets available:</h3>
<p>
  <ol>
    <li><strong>Supporter ticket</strong>, 3 600 SEK. With your support we can not only make the larp better, you also help subsidize tickets for players of lesser means. By buying a Supporter ticket you also receive goodies like a limited edition Supporter
      t-shirt, and opportunity to select character name (from a preseeded list). Best of all is that you are guaranteed to end up in the group you select (eg. Maintenance, SURFOPS, etc.).</li>
    <li><strong>Standard ticket</strong>, 2 600 SEK.</li>
    <li><strong>Subsidized ticket</strong>, 1 700 SEK. These will be limited, and available on request at a later date once we reach our funding goals.</li>
  </ol>
</p>

<h2>How to purchase</h2>
<p>
  For non-swedish larpers, we recommend paying using <strong>Stripe</strong> (credit card).
</p>

<p>
  For swedish larpers (and in some cases scandinavian, it depends and you can try it out to see if it works for you) we offer two other payment methods: <strong>Klarna</strong> and <strong>Swish</strong>.
</p>

<p>
  Klarna allows you to pay either by credit card, by direct bank transfer or by invoice. It also allows you to split the payment into partials. If you are paying by credit card, please use Stripe instead since it incurs less of a transaction fee for us.
  If you pay using Swish you will receive an email with instructions on how to pay.
</p>

<p>
  If you choose Klarna partial payments or Swish, <em>do not</em> use our own partial tickets, instead go for a full ticket.
</p>

<h2>Terms</h2>

<p>
  For partial-payment tickets, we need your first payment before <strong>October 1st</strong>, and full payment before <strong>November 30th</strong> 2017.
</p>

<p>
  Tickets are, generally, non-refundable but are transferrable (with organizer approval). Should we, for any reason, cancel the larp ticket prices will be repaid, minus costs already incurred for the larp.
</p>

<p>
  <em>We reserve the right to cancel your ticket and refund you, minus transaction fees.</em>
</p>

<p>
  <strong>Make sure you type in your email address correctly. For Stripe purchases it's the <u>only</u> way we have to identify you. <u>Also note</u>: Supporter Tickets are only available using Stripe.</strong>
</p>

<p>
<a href="" id="paybystripe" class="bigbutton">PAY BY STRIPE<br>(International. 2.9% fee will be added)</a>
<a href="http://tickets.lotka-volterra.se" target="_blank" class="bigbutton">PAY BY SWISH/KLARNA<br>(SWEDEN)</a>
</p>
<br style="clear:both;">
