<div class="widget-box" style="margin: .5em;">
  <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
    <h5>Current Relationships</h5>
  </div>              
  <div class="widget-content nopadding">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Characters</th>
          <th>Groups</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for relationship in current.data.rel %}
        <tr class="odd gradeA">
          <td class="center"><i class="{{ relationship.attr|key('relationship_icon') }}"></i></td>
          <td><a href="{{ path_for('admin.relation.edit', { 'uid': relationship.id }) }}" title="Edit Relationship">{{ relationship.name }}</a></td>
          <td>
            {% for character in relationship.characters %}
            <a href="{{ path_for('admin.character.edit', { 'uid': character.id }) }}" title="Edit Character">{{ character.name }}</a>{% if loop.last %}{% else %}, {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for group in relation.groups %}
            <a href="{{ path_for('admin.group.edit', { 'uid': group.id }) }}" title="Edit Group">{{ group.name }}</a>{% if loop.last %}{% else %}, {% endif %}
            {% endfor %}
          </td>  
          <td>{{ relationship.attr|key('relationship_type') }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
  <div class="control-group">
    <a href="{{ path_for('admin.relation.add') }}" target="_new" class="btn span20 btn-success">Create new Relation <i class="icon-external-link"></i></a>
  </div>
</div>                

<div class="control-group">
  <label class="control-label">Character Relations :</label>
  <div class="controls relationships">            
    <select name="relations_ids[]" multiple="true">
    {% for relation in relations %}
      <option value="{{ relation.id }}"{% for character_relation in current.data.rel %}{% if relation.id == character_relation.id %} selected="selected"{% endif %}{% endfor %}>
        {{ relation.name }}
      </option>
    {% endfor %}
    </select>

  </div>
</div>