{% extends "/new/layout.html" %}

{% block title %} Welcome to Lotka-Volterra [ {{ stage.title }} ]: {{ parent() }} {% endblock %}

{% block menu %}
  <div class="progress col-sm-7">
      <div class="bar" style="width: {{ stage_nr/stages_total * 100 }}%;"></div>
      <span>{{ stage_nr }}/{{ stages_total }}</span>
  </div>
{% endblock %}

{% block headCover %}{% endblock %}

{% block mainClass%}pt-20 mb-20{% endblock %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2 mt-20">
  {{ include('new/partials/fragments/flash.html') }}
  {{ include(template_from_string(stage.content|raw)) }}
</div>
{% endblock %}

{% block footerContainer %}{% endblock %}

{% block inlineBody %}
<script type='text/javascript'>//<![CDATA[ 
window.onload=function(){
  function readURL(input) {
    if (input.files && input.files[0]) {
      var file = new FileReader();
      file.onload = function(e) {
        $('#preview > img')
          .attr('src', e.target.result)
          .removeClass("unloaded");
      }
      file.readAsDataURL(input.files[0]);
    }
  }  
  
  $(".pnr").hide();
  $(".character_groups").hide();  

  $("#portrait").change(function() {
    readURL(this);
  });
  
  $("#country-selector").on("change", function (e) {
    $(".dob").hide();
    if($(this).val() == "Sweden") {
      $(".pnr").show().prop('required', true);
      $(".dob").hide().prop('required', false);
    } else {
      $(".pnr").hide().prop('required', false);
      $(".dob").show().prop('required', true);
    }
  }).trigger("change");
  
  $("[name=aspects]").on("change", function () {
    if ( $("#aspect_group").is(":checked") ) {
      $(".character_groups").fadeIn(500);
      $("[name='group[]']").trigger("change");
    } else {
      $(".character_groups").fadeOut(150);
      $("[name='group[]']").prop("disabled", true);
    }
  }).trigger("change");
  
 $("[name='group[]']").on("change", function () {
   $("[name='group[]']:not(:checked)").prop(
     "disabled", 
     $("[name='group[]']:checked").length == 3
   );
 }).trigger("change");

/*
  Display descriptions of ideologies and personal traits
 */

  var add = "<b>Note! This is a just an example, your characters view might differ.</b><br>";
  var character_descriptions = {
    "char_iso_int": [],
    "char_mil_dem": [],
    "char_nos_pro": [],
    "char_ind_col": [],
    "char_log_int": [],
    "char_dir_avo": [],
    "char_phy_non": [],
    "char_mal_con": []
  }
  character_descriptions.char_iso_int[0] = "Forget the old world. The fucking Enemy can have the surface for all you care. We are finally self-sufficient, and will prosper underground. We need to stop living in the past and stop risking bringing the Enemy down on us. Dig where we stand, and make Haven our new permanent home. We're never going back topside.";
  character_descriptions.char_iso_int[100] = "We have to make a stand, for humanity. The surface belongs to us, and if we just push hard and employ good tactics we can make it so hard on the Enemy that they can't reasonably sustain their surface occupation any more. Strike hard, strike fast, and strike often. Take the fight to them, we've been cowering in the dark for too long, living like rats.";
  character_descriptions.char_mil_dem[0] = "Humanity has almost been wiped out, and we can't afford dissention and division. We could still be wiped out, and the only thing that keeps that from happening is military discipline and everyone pulling in the same direction. Democracy will have to wait until the Enemy is no longer a threat.";
  character_descriptions.char_mil_dem[100] = "The critical stage of survival is now over, and it's time we start thinking about our society and the needs of the citizens, not just basic survival. Martial law and military hierarchy was necessary after Nightfall, but now? We need a freer society, where everyone gets to decide their own future, otherwise we're just as bad as the Enemy.";
  character_descriptions.char_nos_pro[0] = "So much has been lost and forgotten. We have to remember, we have to keep what little is left from before alive, otherwise we'll have been truly defeated. If we don't, then what's the point to society? Did all those people die just to be forgotten?";
  character_descriptions.char_nos_pro[100] = "What's been lost is lost, and will never be rebuilt. The old world is dead or dying, and there's no point clinging to the past when we can have a new start right here. Build something of our own making, free from centuries of stagnation and nostalgia. Let's build a new future, and and lay the old one to rest.";
  character_descriptions.char_ind_col[0] = "Are we humans or robots? We all have different needs, different dreams and hopes. We can't all be forced to do the same things, like the same things, say the same things. If we don't allow the individual to prosper, how are we ever going to prosper as a society?";
  character_descriptions.char_ind_col[100] = "The needs of the many outweigh the needs of the few. We rely on each other, and our society must put the well being of the majority above individual wishes. We can't afford to pull in different directions. Together we will prosper, divided we will fall.";
  character_descriptions.char_log_int[0] = "Extremely rational or logical in your approach, at the expense of most other things. You can come off as very square, cold or dogmatic. Decisions need to be made on facts, not letting emotions or preconceptions get in the way.";
  character_descriptions.char_log_int[100] = "You rely completely on your intuition and feeling, often at the expense of rational thought. You what \"feels right\" even if the facts might dictate otherwise.";
  character_descriptions.char_dir_avo[0] = "You use an extremely direct approach at all times, limiting your other choices. You act first and think later. Action speaks louder than words."
  character_descriptions.char_dir_avo[100] = "You never face a problem, often ignoring them hoping they will go away. You hate confrontations and have problems standing up for your views. You probably get pushed around a lot."
  character_descriptions.char_phy_non[0] = "You are very physical to the exclusion of other means, always expressing things with your body and in contact with others. You take up a lot of space and energy, and you are up in peoples faces all the time.";
  character_descriptions.char_phy_non[100] = "You actively dislike physical touch and getting too close to people, and prefer to keep conversations and interactions to the terminal or phone. You come off as introvert or shy.";
  character_descriptions.char_mal_con[0] = "You are constantly angry or frustrated with all the things you perceive as being wrong. You have a lot of resentment growing inside you, and it more than often spills over into harsh words, smack talk and airing your grievances to anyone close by. People no doubt see you as angry, frustrated and a bit of a troublemaker.";
  character_descriptions.char_mal_con[100] = "You are mellow, happy-go-lucky. People see you as positive and easy going. You rarely voice a negative opinion, and for the most part you feel quite at home with your life and work. You feel like you're at the right place, at the right time, doing what you love. The downside is you accept things you perhaps shouldn't but you feel ok anyway. You are the one to cheer others up.";
  
  if($("#country-selector").length) {
    $("#country-selector")
      .val($("#country-selector").data("preval"))
      .trigger('change')
  }  
  
/*
scroll to top on load, if at onboarding
*/
if($('.onboarding').length) {
  $(".container h3:first").css("padding-top","90px");
  $("html, body").animate({ scrollTop: 0 }, "slow");
}

function fileSizeValidate(fdata) {
  var maxSize = '8192';
  if (fdata.files && fdata.files[0]) {
    var fsize = fdata.files[0].size/1024;
    if(fsize > maxSize) {
      alert("Maximum file size exceed, max size is " + maxSize + " KB!");
      return false;
    } else {
      return true;
    }
  }
}

$("#portrait").change(function() {
  fileSizeValidate(this);
});  
  
}
//]]>
</script>
{% endblock %}