{% extends "/new/layout.html" %}

{% block title %} Welcome to Lotka-Volterra [ {{ stage.title }} ]: {{ parent() }} {% endblock %}

{% block menu %}
  <div class="progress col-sm-7">
      <div class="bar" style="width: {{ stage_nr/stages_total * 100 }}%;"></div>
      <span>{{ stage_nr }}/{{ stages_total }}</span>
  </div>
{% endblock %}

{% block headCover %}{% endblock %}

{% block mainClass%}pt-20 mb-20{% endblock %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2 mt-20">
  {{ include('new/partials/fragments/flash.html') }}
  {{ include(template_from_string(stage.content|raw)) }}
</div>
{% endblock %}

{% block footerContainer %}{% endblock %}

{% block inlineBody %}
<script type='text/javascript'>//<![CDATA[ 
window.onload=function(){
  function readURL(input) {
    if (input.files && input.files[0]) {
      var file = new FileReader();
      file.onload = function(e) {
        $('#preview > img')
          .attr('src', e.target.result)
          .removeClass("unloaded");
      }
      file.readAsDataURL(input.files[0]);
    }
  }
  
  $(".pnr").hide();
  $(".character_groups").hide();  

  $("#portrait").change(function() {
    readURL(this);
  });
  
  $("#country-selector").on("change", function (e) {
    $(".dob").hide();
    if($(this).val() == "Sweden") {
      $(".pnr").show();
      $(".dob").hide();
    } else {
      $(".pnr").hide();
      $(".dob").show();
    }
  }).trigger("change");
  
  $("[name=aspects]").on("change", function () {
    $("#aspect_group").is(":checked") ? $(".character_groups").fadeIn(500) : $(".character_groups").fadeOut(150);
  }).trigger("change");
  
 $("[name='group[]']").on("change", function () {
   $("[name='group[]']:not(:checked)").prop(
     "disabled", 
     $("[name='group[]']:checked").length > 2
   );
 }).trigger("change");
 
  $(".player_defined > input").on("change", function () {
    var input = $(this)
      .siblings('label')
      .children()
      .filter('input');

    input.prop('disabled', !$(this).is(':checked'))

    if(!$(this).is(':checked')) {
      input.val(null).trigger('change');
    } else {
      input.focus();
    }
  }).trigger("change");

  $(".player_defined > label input").on('change', function () {
    var checkbox = $(this)
      .parent()
      .siblings('input');

    checkbox.val($(this).val());
  }).trigger("change");

  $("[type=range]").on('input change', function () {
    var min = $(this).attr('min'); 
    var max = $(this).attr('max');
    var val = $(this).val();
    var mid = (max - min) / 2;
    var dist = Math.abs(val - mid) / mid;
    var col = 'rgb(' + [ 255 * dist, 255 - ( 255 * dist ), 0].join() + ')';
    $(this).css('border-bottom', '.15em solid ' + col);
  }).trigger('change');
  
  if($("#country-selector").length) {
    $("#country-selector")
      .val($("#country-selector").data("preval"))
      .trigger('change')
  }  
  
}
//]]>
</script>
{% endblock %}