{% extends 'admin/dashboard/main.twig' %}

{% block title %}Character Manager{% endblock %}

{% block contentHeader %}
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="{{ path_for('admin.index') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
      <a href="{{ path_for('admin.participant.dashboard') }}">Participants</a> 
      <a href="{{ path_for('admin.character.list') }}">Characters</a> 
      <a href="#" class="current"># {{current.data.name|default('New Character')}}</a> 
    </div>

    <h1>Edit {{current.data.name|default('New Character')}}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span8">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Edit Character</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="{{ current.new ? path_for('admin.character.add') : path_for('admin.character.edit', { 'uid': current.data.id }) }}" method="post" autocomplete="on" class="form-horizontal">
            <input type="hidden" name="selfsave">
            {{ csrf.field | raw }}
            
            <div class="control-group">
              <label class="control-label">Surname :</label>
              <div class="controls">
                <input type="text" class="span11" name="name" placeholder="Name" value="{{ current.data.name }}">
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">First/Nickname :</label>
              <div class="controls">
                <input type="text" class="span11" name="nickname" placeholder="First/Nickname" value="{{ current.attr.nickname }}">
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Gender :</label>
              <div class="controls">
                <select name="gender">
                {% for gender in genders %}
                  <option value="{{ gender }}" {% if gender == current.attr.gender %}selected="selected"{% endif %}>
                    {{ gender }}
                  </option>
                {% endfor %}    
                </select>
             </div>
            </div>            
            
            <div class="control-group{% if (current.data.user_id == null) and (current.new != true) %} error{% endif %}">
              <label class="control-label">Player :</label>
              <div class="controls">
                <select name="user_id">
                  <option value=""> - No User Attached - </option>
                {% for user in users %}
                  <option value="{{ user.id }}" {% if user.id == current.data.user_id %}selected="selected"{% endif %}>
                    {{ user.displayname }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Quote :</label>
              <div class="controls">
                <textarea class="span11" name="quote" rows="2">{{ current.attr.quote }}</textarea>
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Group :</label>
              <div class="controls">
                <select name="org">
                  <option value=""> - No Group - </option>
                {% for org in orgs %}
                  <option value="{{ org.value }}" {% if org.value == current.attr.org %}selected="selected"{% endif %}>
                    {{ org.value }}
                  </option>
                {% endfor %}
                </select>
                <input type="text" class="span5" name="new_org" placeholder="Create new Group" style="margin-top: .5em;">
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Shift :</label>
              <div class="controls">
                <select name="shift">
                  <option value=""> - No Shift - </option>
                {% for shift in shifts %}
                  <option value="{{ shift.value }}" {% if shift.value == current.attr.shift %}selected="selected"{% endif %}>
                    {{ shift.value }}
                  </option>
                {% endfor %}
                </select>
                <input type="text" class="span5" name="new_shift" placeholder="Create new Shift" style="margin-top: .5em;">
             </div>
            </div>

            <div class="control-group">
              <label class="control-label">Team Role/Specialization :</label>
              <div class="controls">
                <input type="text" class="span11" name="role" placeholder="Team Role/Specialization" value="{{ current.attr.role }}">
             </div>
            </div>  
            
            <div class="control-group">
              <label class="control-label">Age :</label>
              <div class="controls">
                <input type="text" class="span11" name="age" placeholder="Age" value="{{ current.attr.age }}">
                <input type="text" class="span5" name="age_nightfall" placeholder="Age at Nighfall" style="margin-top: .5em;" disabled="true" value="{% if current.attr.age %}{{ current.attr.age - 13 }}{% endif %}">
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Bunk Budy :</label>
              <div class="controls">
                <select name="bunk_budy">
                  <option value=""> - No Bunk Budy - </option>
                {% for character in characters %}
                  <option value="{{ character.id }}" {% if character.id == current.attr.bunk_budy %}selected="selected"{% endif %}>
                    {{ character.name }}
                  </option>
                {% endfor %}
                </select>
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Public Synopsis :</label>
              <div class="controls">
                <textarea class="span11" name="synopsis" rows="5">{{ current.attr.synopsis }}</textarea>
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Description :</label>
              <div class="controls">
                <textarea class="span11" name="description" rows="10">{{ current.data.description }}</textarea>
             </div>
            </div>

            <div class="control-group">
              <label class="control-label">Personal traits :</label>
              <div class="controls">
                <textarea class="span11" name="traits" rows="3">{{ current.attr.traits }}</textarea>
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Values :</label>
              <div class="controls">
                <h5>Isolationist <span class="pull-right" style="margin-right: 40px;">Interventionist</span></h5>
                <input type="range" class="span11" name="iso_int" value="{{ current.attr.iso_int }}" max="100" min="0" step="10">
                <textarea class="span11" name="iso_int_note" rows="3">{{ current.attr.iso_int_note }}</textarea>
                
                <h5>Militarist <span class="pull-right" style="margin-right: 40px;">Democrat</span></h5>
                <input type="range" class="span11" name="mil_dem" value="{{ current.attr.mil_dem }}" max="100" min="0" step="10">
                <textarea class="span11" name="mil_dem_note" rows="3">{{ current.attr.mil_dem_note }}</textarea>
                
                <h5>Nostalgic <span class="pull-right" style="margin-right: 40px;">Progressive</span></h5>
                <input type="range" class="span11" name="nos_pro" value="{{ current.attr.nos_pro }}" max="100" min="0" step="10">
                <textarea class="span11" name="nos_pro_note" rows="3">{{ current.attr.nos_pro_note }}</textarea>
                
                <h5>Libertine <span class="pull-right" style="margin-right: 40px;">Collectivist</span></h5>
                <input type="range" class="span11" name="lib_col" value="{{ current.attr.lib_col }}" max="100" min="0" step="10">
                <textarea class="span11" name="lib_col_note" rows="3">{{ current.attr.lib_col_note }}</textarea>
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">How you see yourself :</label>
              <div class="controls">
                <textarea class="span11" name="self_vision" rows="10">{{ current.attr.self_vision }}</textarea>
             </div>
            </div>            
            
            <div class="control-group">
              <label class="control-label">How others see you :</label>
              <div class="controls">
                <textarea class="span11" name="others_vision" rows="10">{{ current.attr.others_vision }}</textarea>
             </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Character Groups :</label>
              <div class="controls">
                <select name="group_ids[]" multiple="true">
                {% for group in groups %}
                  <option value="{{ group.id }}"{% for char_group in current.data.groups %}{% if group.id == char_group.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ group.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Character Plots :</label>
              <div class="controls">
                <select name="plot_ids[]" multiple="true">
                {% for plot in plots %}
                  <option value="{{ plot.id }}"{% for char_plot in current.data.plots %}{% if plot.id == char_plot.id %} selected="selected"{% endif %}{% endfor %}>
                    {{ plot.name }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </div>
            
            {{ include('/admin/partials/fragments/relations.html') }}
            
            <div class="control-group">
              <label class="control-label">Design notes & play openings :</label>
              <div class="controls">
                <textarea class="span11" name="notes" rows="10">{{ current.attr.notes }}</textarea>
             </div>
            </div>
            
            {{ include('/admin/partials/fragments/attributes.html') }}
  
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inlinejs %}
  $(".attributes").on("click", ".add_attrib", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().clone();
    $addDiv.find('input').each(function () { $(this).val(null); })
    $(this).parent().after($addDiv);
    $(this).parent().find('button')
      .removeClass('btn-success add_attrib').addClass('btn-warning remove_attrib').text('-');
  });

  $(".attributes").on("click", ".remove_attrib", function (e) {
    e.preventDefault();
    $addDiv = $(this).parent().remove();
  });
  
  $("[name=age]").on("change load keyup", function () {
    var age = parseInt($(this).val(), 10);
    $("[name=age_nightfall]").val(isNaN(age)?'':age-13);
  })

{% endblock %}