{% set character_values, character_attr = ['id','name','description'], ['nickname','age','gender','pronoun','haven_history','contacts_in_haven','history','how_survived','personnel_file','traumas','notes','time_in_thermopylae','org','shift','npc'] %}
{% for character in listItems %}{% if character['name']|length > 0 %}
{% for data in character_values %}<h2>{{data}}</h2><p>{% if character[data] is iterable %}{{ character[data]|join(' and ') }}{% else %}{{ character[data] }}{% endif %}</p>{% endfor %}
{% for data in character_attr %}<h2>{{data}}</h2><p>{% if character.attr|key(data) is iterable %}"{{ character.attr|key(data)|join(' and ') }}{% else %}{{ character.attr|key(data) }}{% endif %}</p>{% endfor %}
<hr>{% endif %}
{% endfor %}
