<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    <!--  
    Favicons
    =============================================
    -->
    {% block favicons %}
    {{ include('new/partials/favicons.html') }}
    {% endblock %}
    <!--  
    Stylesheets
    =============================================
    -->
    {% block stylesheets %}
    {{ include('new/partials/stylesheets.html') }}
    {% endblock %}
    <!--  
    Inline JS
    =============================================
    -->
    <script type='text/javascript'>//<![CDATA[
      window.stripe = {
        public_key: '{{ PUBLIC_KEY }}',
        ticket_types: [
    {% if tickets %}
    {% for ticket in tickets.ticket_types %}
    {
      'sku': '{{ ticket.sku|e }}',
      'price': {{ ticket.price|e }},
      'description': '{{ ticket.description|e }}',
      'img': '{{ticket.img}}',
      'show': {
        'surname': {{ticket.surname}}, 
        'shirtType': {{ticket.shirtType}}, 
        'size': {{ticket.size}}, 
        'teamPreference': {{ticket.teamPreference}}
       }

    }{% if loop.last %}{% else %},{% endif %}
    {% endfor %}
    {% endif %}
        ]
      }
      
      window.page = {
        slug: '{{ slug|default('about') }}'
      }
      
      {% block inlinejs %}{% endblock %}
    //]]>
    </script>
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 140" id="lv" class="loading" height="140" width="200">
            <defs>
              <linearGradient id='grad' x1="0%" y1="0%" x2="100%" y2="100%">
                <stop stop-color='#0FC' stop-opacity="0"/>
                <stop offset='50%' stop-color='#0FC' stop-opacity="1"/>
                <stop offset='100%' stop-color='#0FC' stop-opacity="0"/>
              </linearGradient>
            </defs>
            <g fill="none" stroke="none" stroke-width="3.5" transform="scale(.9)" transform-origin="100 70">
              <path class="lights" 
                d="M20,0 h160 l20,20 v100 l-20,20 h-160 l-20,-20 v-100 z
                   M75,35 h-35 v75 h10 v-10 h80 l40,40 h10 l2.5,-2.5 l-20,-20 l-2.5,2.5 z
                   M160,70 v-35 h-160 v5 h130 z">
              </path>
            </g>
          </svg>
        </div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          {{ include('new/partials/navbar/logo.html') }}
          {% block menu %}
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              {{ include('new/partials/navbar/menu.html') }}
            </ul>
          </div>
          {% endblock %}
        </div>
      </nav>
      {% if showSplash %}
        {% block splash %}
          {{ include('new/partials/splash.html') }}
        {% endblock %}
      {% endif %}
      
      <div class="main">
        {% block headCover %}
        {{ include('new/partials/headcover.html') }}
        {% endblock %}
        <section class="module{% block mainClass %}{% endblock %}">
          <div class="container">

            <div class="row">
            {% block content %}
            {{ include(template_from_string(content|raw)) }}
            {% endblock %}
            </div>

          </div>
        </section>
        
        {% block footerContainer %}
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
            {% block bottom %}
            {{ include('new/partials/footer/bottom.html') }}
            {% endblock %}
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
            {% block footer %}
              <div class="col-sm-6">
                {{ include('new/partials/footer/copy.html') }}
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links">
                  {{ include('new/partials/footer/social.html') }}
                </div>
              </div>
              {% endblock %}
            </div>
          </div>
        </footer>
      </div>
      {% endblock %}
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    {% block scripts %}
    {{ include('new/partials/scripts.html') }}
    {% endblock %}
    {% block inlineBody %}
    <!---------------- 
    Inline JS / Body 
    -------------//-->
    {% endblock %}      
    {% if auth.isAdmin %}
    {{ include('new/partials/inlineEditor.html') }}
    {% endif %}      
  </body>
</html>